<div class='row'>
  <% collections.each do |collection| %>
    <div id='message-bus-collection-update-<%= collection.collectable_type %>-<%= collection.collectable_id %>'
      data-collection-id=<%= collection.id %>></div>
    <div class='col-md-6' id='collection-<%= collection.id %>'>
      <div class='well'>
        <div>
          <% if collection.updated %>
            <%= fa_icon('refresh', class: 'float-left', id: "#{collection.collectable_type}-#{collection.collectable_id}") %>
          <% else %>
            <%= fa_icon('refresh', class: 'float-left', id: "#{collection.collectable_type}-#{collection.collectable_id}", style: 'display: none;') %>
          <% end %>
          <div class='float-right'>
            <% if collection.watched %>
              <%=
                link_to fa_icon('eye'),
                collection_toggle_watched_path(collection), remote: true
              %>
            <% else %>
              <%=
                link_to fa_icon('eye-slash'),
                collection_toggle_watched_path(collection), remote: true
              %>
            <% end %>
          </div>
        </div>
        <dl>
          <dt><%= link_to collection.collectable.title, collection_view_path(collection) %></dt>
          <dd>
            <ul class='clean-list'>
              <li><%= t('article.author')+': '+collection.collectable.user.name %></li>
              <li>
                <ul class='tag-cloud'>
                  <% collection.collectable.categories.each do |tag| %>
                    <li><span class='label label-default'>
                      <%= tag.name %>
                    </span></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  <% end %>
</div>
