<div class='row'>
  <% collections.each do |collection| %>
    <div id='message-bus-collection-update-<%= collection.collectable_type %>-<%= collection.collectable_id %>'
      data-collection-id=<%= collection.id %>></div>
    <div class='col-md-6' id='collection-<%= collection.id %>'>
      <div class='well'>
        <dl>
          <dt>
            <% if collection.collectable.respond_to? :title %>
              <%= link_to collection.collectable.title, collection_view_path(collection) %>
            <% elsif collection.collectable.respond_to? :name %>
              <%= link_to collection.collectable.name, collection_view_path(collection) %>
            <% end %>
          </dt>
          <dd>
            <ul class='clean-list'>
              <li><%= t('owner')+': '+collection.collectable.user.name %></li>
              <li>
                <ul class='horizontal-clean-list'>
                  <% collection.collectable.categories.each do |tag| %>
                    <li><span class='label label-default'>
                      <%= tag.name %>
                    </span></li>
                  <% end %>
                </ul>
              </li>
            </ul>
          </dd>
        </dl>
      </div>
    </div>
  <% end %>
</div>
