<% content_for :center_column do %>
  <div class='block'>
    <div class='vertical-centered'>
      <div class='devise-form'>
        <h4><%= t('devise.views.resend_confirmation') %></h4>
        <%= simple_form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: {method: :post}) do |f| %>
          <p>
            请输入您之前注册的邮箱地址来重新发送注册邮件，请查看是否放在了垃圾箱里。
          </p>

          <%= f.input :email, required: true, autofocus: true %>

          <%= f.button :submit, "重新发送邮件", class: 'btn btn-success btn-block', data: { disable_with: '发送中...' } %>

          <div style='margin-top: 10px;'>
            <div class='pull-left'>
              <%= link_to t('devise.views.retrieve_password'), new_password_path(resource_name) %>
            </div>
            <div class='pull-right'>
              <%= link_to t('devise.views.sign_up'), new_user_registration_path %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
