<div class='license-form'>
  <%= simple_form_for @license do |f| %>
    <% if @license.organization_id %>
      <%= f.hidden_field :organization_id, value: @license.organization_id %>
    <% else %>
      <%= f.input :organization_id %>
    <% end %>
    <%= f.input :engine_name %>
    <%= f.input :max_num_seats %>
    <% if current_user.role == 'admin' %>
      <%= f.input :status %>
      <%= f.input :expired_at, input_html: { class: 'datepicker' } %>
    <% end %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
