<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('activerecord.attributes.license.engine_name') %></th>
      <th width="100"><%= t('activerecord.attributes.license.organization_id') %></th>
      <th width="100"><%= t('activerecord.attributes.license.max_num_seats') %></th>
      <th width="100"><%= t('activerecord.attributes.license.expired_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% licenses.each do |license| %>
      <tr class='clickable-row' data-href='<%= license_path(license) %>'>
        <td><%= license.engine_name.text %></td>
        <td><%= license.organization.short_name %></td>
        <td><%= license.max_num_seats %></td>
        <td><%= license.expired_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
