<div class='home-page-content active' id='content-information'>
  <div class='row'>
    <div class='col-md-6 col-xs-12'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          基本信息
          <div class='pull-right'>
            <%= render 'relationships/follow_button', followed: @user %>
          </div>
        </div>
        <div class='panel-body'>
          <ul class='horizontal-line-list'>
            <li>
              <div class='row horizontal-centered'>
                <a href='<%= user_following_path(@user) %>'>
                  <div class='col-md-6 col-sm-6 col-xs-6 following-count-block'>
                    <%= t('activerecord.attributes.relationship.following') %>
                    <span id='following-count'><%= @user.following.size %></span>
                  </div>
                </a>
                <a href='<%= user_followers_path(@user) %>'>
                  <div class='col-md-6 col-sm-6 col-xs-6 follower-count-block'>
                    <%= t('activerecord.attributes.relationship.follower') %>
                    <span id='follower-count'><%= @user.followers.size %></span>
                  </div>
                </a>
              </div>
            </li>
            <li><%= @user.profile.affiliation %> - <%= @user.profile.title.text %></li>
            <li><%= raw @user.profile.bio %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <%= t('activerecord.models.experience') %>
        </div>
        <div class='panel-body'>
          <%= raw @user.experience.content %>
        </div>
      </div>
    </div>
  </div>
</div>
