<div class='home-page-content active' id='content-information'>
  <div class='row'>
    <div class='col-md-6 col-xs-12'>
      <div class='panel panel-default box-shadow'>
        <div class='panel-heading'>
          基本信息
          <div class='pull-right'>
            <%= render 'relationships/follow_button', followed: @user %>
          </div>
        </div>
        <div class='panel-body'>
          <ul class='horizontal-line-list'>
            <li>
              <div class='row horizontal-centered'>
                <a data-toggle='modal' data-target='#show-following-modal'>
                  <div class='col-md-6 col-sm-6 col-xs-6 following-count-block'>
                    <%= t('activerecord.attributes.relationship.following') %>
                    <span id='following-count'><%= @user.following.size %></span>
                  </div>
                </a>
                <a data-toggle='modal' data-target='#show-followers-modal'>
                  <div class='col-md-6 col-sm-6 col-xs-6 follower-count-block'>
                    <%= t('activerecord.attributes.relationship.follower') %>
                    <span id='follower-count'><%= @user.followers.size %></span>
                  </div>
                </a>
              </div>
            </li>
            <li>
              <% if not @user.profile.affiliation.empty? %>
                <%= @user.profile.affiliation %> - <%= @user.profile.title.text %>
              <% elsif policy(@user).update? %>
                <div class='horizontal-centered'>
                  <%= link_to '请添加您的所属机构', edit_user_path(@user, :profile) %>
                </div>
              <% else %>
                <div class='horizontal-centered'>
                  这个家伙很懒，什么也没填~
                </div>
              <% end %>
            </li>
            <li>
              <%= raw @user.profile.bio %>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='panel panel-default box-shadow'>
        <div class='panel-heading'>
          <%= t('activerecord.models.experience') %>
        </div>
        <div class='panel-body'>
          <% if @user.experience.content %>
            <%= raw @user.experience.content %>
          <% elsif policy(@user).update? %>
            <div class='horizontal-centered'>
              <%= link_to '快去填下您的科研经历吧，方便他人了解您！', edit_user_path(@user, :experience) %>
            </div>
          <% else %>
            <div class='horizontal-centered'>
              这个家伙很懒，什么也没填~
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div class='modal fade' id='show-followers-modal' tabindex='-1' role='dialog' aria-labelledby='show-followers-modal'>
  <div class='modal-dialog'>
    <div class='modal-content' style='padding: 10px;'>
      <%= render 'relationships/followers_list' %>
    </div>
  </div>
</div>

<div class='modal fade' id='show-following-modal' tabindex='-1' role='dialog' aria-labelledby='show-following-modal'>
  <div class='modal-dialog'>
    <div class='modal-content' style='padding: 10px;'>
      <%= render 'relationships/following_list' %>
    </div>
  </div>
</div>
