<div class='home-page-content active' id='content-information'>
  <div class='row'>
    <div class='col-md-6 col-xs-12'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          基本信息
        </div>
        <div class='panel-body'>
          <ul class='horizontal-line-list'>
            <li><%= @user.profile.affiliation %> - <%= @user.profile.title.text %></li>
            <li><%= raw @user.profile.bio %></li>
          </ul>
        </div>
      </div>
    </div>
    <div class='col-md-6 col-xs-12'>
      <div class='panel panel-default'>
        <div class='panel-heading'>
          <%= t('activerecord.models.experience') %>
        </div>
        <div class='panel-body'>
          <%= raw @user.experience.content %>
        </div>
      </div>
    </div>
  </div>
</div>
