<% content_for :title, t('global.dashboard') %>

<% content_for :main_block do %>
  <div class='dashboard'>
    <ul class='nav nav-tabs' role='tablist'>
      <li role='presentation' class='active'>
        <a href='#manage-users' aria-controls='manage-users'
          role='tab' data-toggle='tab'>
          <%= t('dashboard.user') %>
        </a>
      </li>
      <li role='presentation'>
        <a href='#manage-groups' aria-controls='manage-groups'
          role='tab' data-toggle='tab'>
          <%= t('dashboard.group') %>
        </a>
      </li>
      <li role='presentation'>
        <a href='#manage-organizations' aria-controls='manage-organizations'
          role='tab' data-toggle='tab'>
          <%= t('dashboard.organization') %>
        </a>
      </li>
    </ul>

    <!-- Tab panes -->
    <div class='tab-content'>
      <div role='tabpanel' class='tab-pane active' id='manage-users'>
        <%= render 'manage_users' %>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='manage-groups'>
        <%= render 'manage_groups' %>
      </div>
      <div role='tabpanel' class='tab-pane fade' id='manage-organizations'>
        <%= render 'manage_organizations' %>
      </div>
    </div>
  </div>
<% end %>
