<% content_for :title, t('dashboard.super_admin') %>

<% content_for :main_block do %>
  <div class='super-admin-dashboard'>
    <div class='title'>
      <span><%= t('dashboard.super_admin') %></span>
    </div>
    <div class='row'>
      <div class='col-md-2'>
        <a href="<%= new_organization_path %>" class='button'><%= t('dashboard.create_organization') %></a>
      </div>
      <div class='col-md-2'>
        <a href="<%= users_path %>" class='button'><%= t('dashboard.manage_users') %></a>
      </div>
    </div>
  </div>
<% end %>