<div class='panel panel-default box-shadow'>
  <div class='panel-body'>
    <%= simple_form_for @user, remote: true do |f| %>
      <%= f.hidden_field :category, value: :achievement %>
      <%= f.simple_fields_for :achievement do |achievement_form| %>
        <%= achievement_form.input :content, label: false %>
      <% end %>
      <%= f.button :submit, t('action.submit'), class: 'btn btn-success pull-right' %>
    <% end %>
  </div>
</div>

<script>
  $(function() {
    $('#user_achievement_attributes_content').froalaEditor({
      height: '300'
    })
  });
</script>
