<div class='panel panel-default box-shadow'>
  <div class='panel-body'>
    <%= simple_form_for @user do |f| %>
      <%= f.simple_fields_for :profile do |profile_form| %>
        <%= render 'layouts/upload_image', form: profile_form,
          object: @user.profile, image_attribute_name: :avatar, default_image: 'logos/default_avatar.png' %>
      <% end %>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :name, required: false %>
        </div>
        <div class='col-md-6'>
          <%= f.input :slug, required: false, disabled: !@user.slug.blank?, label: slug_caution(!@user.slug.blank?) %>
        </div>
      </div>
      <%= f.simple_fields_for :profile do |profile_form| %>
        <div class='row'>
          <div class='col-md-4'>
            <%= profile_form.input :gender, required: false %>
          </div>
          <div class='col-md-4'>
            <%= profile_form.input :country %>
          </div>
          <div class='col-md-4'>
            <%= profile_form.input :title, required: false %>
          </div>
        </div>
        <%= profile_form.input :affiliation %>
        <%= profile_form.input :signature %>
        <%= profile_form.input :bio %>
      <% end %>
      <div class='pull-right'>
        <%= f.button :submit, t('action.submit'), class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(function() {
    $('#user_profile_attributes_bio').froalaEditor({
      height: '300'
    })
  })
</script>
