<%= simple_form_for membership do |f| %>
  <%= f.hidden_field :host_type, value: host.class %>
  <%= f.hidden_field :host_id, value: host.id %>
  <%= f.hidden_field :join_type, value: join_type %>
  <%= f.hidden_field :last_user_id, value: current_user.id %>
  <% case join_type %>
  <% when :self %>
    <% if membership.status == 'rejected' %>
      <div class='center'>
        <%= f.input :rejected_reason, as: :text %>
        <%= f.hidden_field :status, value: 'rejected' %>
        <%= f.button :submit, t('membership.action.confirm'), class: 'button btn-xs' %>
      </div>
    <% else %>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <div class='center'>
        <%= f.button :submit, t('membership.action.apply'), class: 'button btn-xs' %>
      </div>
    <% end %>
  <% when :invited %>
    <%= f.input :user_id, label: false, as: :select, input_html: { id: 'input-user-name' } %>
    <div class='center'>
      <%= f.button :submit, t('membership.action.invite'), class: 'button btn-xs' %>
    </div>
  <% end %>
<% end %>
