<dl class='clean'>
  <dt>
    <div aria-label='membership-group' class='btn-group' role='group'>
      <button class='btn btn-primary' id='show-unapproved-membership-list' type='button'><%= t('enumerize.membership.status.unapproved') %></button>
      <button class='btn btn-primary' id='show-approved-membership-list' type='button'><%= t('enumerize.membership.status.approved') %></button>
      <button class='btn btn-primary' id='show-banned-membership-list' type='button'><%= t('enumerize.membership.status.banned') %></button>
    </div>
  </dt>
  <dd>
    <div id='unapproved-membership-list'>
      <%= render 'memberships/table_list', memberships: host.memberships.select { |x| x.status == 'unapproved' } %>
    </div>
    <div id='approved-membership-list' style='display: none;'>
      <%= render 'memberships/table_list', memberships: host.memberships.select { |x| x.status == 'approved' } %>
    </div>
    <div id='banned-membership-list' style='display: none;'>
      <%= render 'memberships/table_list', memberships: host.memberships.select { |x| x.status != 'unapproved' } %>
    </div>
  </dd>
</dl>
