<table class='table table-stripped'>
  <thead>
    <tr>
      <th width='50'><%= t('activerecord.attributes.user.name') %></th>
      <th width='50'><%= t('activerecord.attributes.membership.role') %></th>
      <th width='50'><%= t('activerecord.attributes.membership.status') %></th>
      <th width='100'>操作</th>
    </tr>
  </thead>
  <tbody>
    <% memberships.each do |membership| %>
    <tr id="membership_<%= membership.id %>">
      <%= render "memberships/membership", membership: membership %>
    </tr>
  <% end %>
  </tbody>
</table>
