<div class='devise-form'>
  <!-- Check if the user is the first one. -->
  <% if User.all.empty? %>
    <% be_super_admin = true %>
    <% flash[:notice] = t('user.super_admin_born') %>
  <% end %>
  <!-- Check if there is any error. -->
  <% if Organization.all.empty? and not be_super_admin %>
    <% has_error = true %>
    <% flash[:error] = t('user.organization_is_empty') %>
  <% end %>
  <%= simple_form_for resource,
    as: resource_name,
    url: registration_path(resource_name),
    html: { multiform: true } do |f| %>
    <div class='row'>
      <div class='col-md-6'>
        <%=
          image_tag 'medium/default_avatar.png',
          size: '100x100',
          id: 'preview-avatar'
        %>
        <%=
          f.file_field :avatar,
          required: true,
          id: 'upload-avatar'
        %>
      </div>
      <div class='col-md-6'>
        <div class='row'>
          <div class='col-md-12'>
            <%=
              f.input :name,
              label: false,
              placeholder: t('user.need_real_name'),
              autofocus: true,
              required: true,
              input_html: {
                autocapitalize: 'off',
                autocorrect: 'none',
                spellcheck: 'false'
              }
            %>
          </div>
          <div class='col-md-12'>
            <% if resource.gender %>
              <%=
                f.input :gender,
                label: false,
                required: true,
                collection: User.genders,
                selected: User.genders[resource.gender]
              %>
            <% else %>
              <%=
                f.input :gender,
                label: false,
                required: true,
                collection: User.genders.merge({ t('user.gender') => -1 }),
                selected: -1
              %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <% if not be_super_admin %>
      <%=
        f.association :organization,
        label: t('user.affiliation'),
        required: true,
        label_method: :name,
        value_method: :id,
        input_html: {
          id: 'input-organization-name'
        }
      %>
      <%=
        f.association :research_team,
        label: t('scrinium.research_team'),
        required: true,
        label_method: :name,
        value_method: :id,
        input_html: {
          id: 'input-research-team-name-of-organization'
        }
      %>
      <% if resource.position %>
        <%=
          f.input :position,
          label: t('user.position'),
          required: true,
          collection: User.positions,
          selected: User.positions[resource.position]
        %>
      <% else %>
        <%=
          f.input :position,
          label: t('user.position'),
          required: true,
          collection: User.positions
        %>
      <% end %>
    <% end %>
    <% if is_super_admin_or_admin?(resource) %>
      <%=
        f.input :role,
        label: t('user.role'),
        require: true,
        collection: User.roles,
        selected: User.roles[resource.role]
      %>
    <% end %>
    <%=
      f.input :email,
      label: false,
      required: true,
      placeholder: t('user.email')
    %>
    <%=
      f.input :password,
      label: false,
      required: false,
      placeholder: t('user.password')+' | '+t('user.password_hint')
    %>
    <%=
      f.input :password_confirmation,
      label: false,
      required: false,
      placeholder: t('user.password_confirmation_hint')
    %>
    <% if current_user %>
      <%= f.button :submit, t('action.edit'), class: 'button right', disabled: has_error %>
    <% else %>
      <%= f.button :submit, t('user.signup'), class: 'button right', disabled: has_error %>
    <% end %>
  <% end %>
</div>
