<% app ||= main_app %>
<!-- 不知道为什么如下的simple_form_for写法无法在edit时自动设为PATCH动作。 -->
<% method ||= :post %>
<%= simple_form_for :comment, url: app.url_for([current_user, commentable, comment]), method: method, remote: true do |f| %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <% if comment.floor %>
        #<%= comment.floor %>
      <% end %>
      <%= link_to avatar(current_user, :small), user_path(current_user) %>
      <%= current_user.name %>
      <% if comment.parent_id %>
        <%= t('action.reply') %>#<%= Comment.find(comment.parent_id).floor %>
      <% end %>
      <%=
        f.button :submit, t('action.save'),
        class: 'button btn-xs float-right', id: 'save-comment',
        remote: true
      %>
    </div>
    <div class='panel-body'>
      <%= f.hidden_field :user_id, value: current_user.id %>
      <%= f.hidden_field :parent_id, value: comment.parent_id %>
      <% if not comment.floor %>
        <% floor = max_comment_floor(commentable) + 1 %>
        <%= f.hidden_field :floor, value: floor %>
      <% end %>
      <%= f.input :content, label: false, as: :text, wrapper_html: { id: 'new-comment-content' } %>
    </div>
  </div>
<% end %>
