<div id='message-bus-comment-<%= commentable.class %>-<%= commentable.id %>'></div>
<ul class='comment-list'>
  <% comments = commentable.comments.reverse %>
  <% comments.each do |comment| %>
    <li id='comment-<%= comment.id %>'>
      <%= render 'comments/show', comment: comment %>
    </li>
  <% end %>
  <div id='comment-placeholder'>
    <div class='alert alert-info' role='alert' style='display: none;' id='new-comment-notifier'>
      <%= t('comment.has_new_comments', number: 0) %>
    </div>
  </div>
  <% if policy(Comment).create? %>
    <li id='new-comment'>
      <%= render 'comments/form', commentable: commentable, comment: Comment.new %>
    </li>
  <% end %>
</ul>
