<% user = comment.user %>
<% commentable = comment.commentable %>
<% if comment.parent_id %>
  <% parent_comment = comment.parent %>
  <% parent_user = parent_comment.user %>
<% end %>
<div class='panel panel-default'>
  <div class='panel-heading'>
    #<%= comment.floor %>
    <%= link_to image_tag(user.profile.avatar_url(:small), class: 'avatar'), user %>
    <%= user.name %>
    <% if parent_comment %>
      <%= t('action.reply') %>
      <%= link_to "##{parent_comment.floor}", show_parent_comment_path(comment),
        class: 'show-parent-comment', remote: true %>
    <% end %>
    <ul class='horizontal-clean-list pull-right'>
      <% if policy(comment).reply? %>
        <li>
          <%= link_to fa_icon('mail-reply'), [commentable, :reply, comment],
            class: 'reply-comment', remote: true %>
        </li>
      <% end %>
      <% if policy(comment).update? %>
        <li>
          <%= link_to fa_icon('edit'), [:edit, commentable, comment],
            class: 'edit-comment', remote: true %>
        </li>
      <% end %>
      <% if policy(comment).destroy? %>
        <li>
          <%= link_to fa_icon('times-circle'), [commentable, comment],
            method: :delete, class: 'delete-comment', remote: true,
            data: { confirm: t('message.are_you_sure_to_delete?', thing: t('activerecord.models.comment')) } %>
        </li>
      <% end %>
    </ul>
  </div>
  <div class='panel-body markdown'><%= comment.content %></div>
</div>
