<% app ||= main_app %>
<% user = User.find(comment.user_id) %>
<% commentable = comment.commentable %>
<% if comment.parent_id %>
  <% parent_comment = Comment.find(comment.parent_id) %>
  <% parent_user = User.find(parent_comment.user_id) %>
<% end %>
<div class='panel panel-default'>
  <div class='panel-heading'>
    #<%= comment.floor %>
    <%= link_to avatar(user, size: :small), user %>
    <%= user.name %>
    <% if parent_comment %>
      <%= t('action.reply') %>
      <%= link_to "##{parent_comment.floor}", "#comment-#{comment.parent_id}" %>
      <%= link_to avatar(parent_comment.user, size: :small), parent_comment.user %>
      <%= parent_comment.user.name %>
    <% end %>
    <div class='pull-right'>
      <% if policy(comment).reply? %>
        <%=
          link_to t('action.reply'),
          app.url_for([ commentable, :reply, comment ]),
          class: 'button btn-xs reply-comment',
          remote: true
        %>
      <% end %>
      <% if policy(comment).update? %>
        <%=
          link_to t('action.edit'),
          app.url_for([ :edit, commentable, comment ]),
          class: 'btn btn-primary btn-xs edit-comment',
          remote: true
        %>
      <% end %>
      <% if policy(comment).destroy? %>
        <%=
          link_to t('action.delete'),
          app.url_for([ commentable, comment ]),
          method: :delete,
          data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium.comment')) },
          class: 'button btn-xs btn-danger delete-comment',
          remote: true
        %>
      <% end %>
    </div>
  </div>
  <div class='panel-body markdown'><%= comment.content %></div>
</div>
