<table class='table table-striped'>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.node.name') %></th>
      <th><%= t('activerecord.attributes.node.topics_count') %></th>
      <th><%= t('activerecord.attributes.node.created_at') %></th>
      <th><%= t('actions') %></th>
    </tr>
  </thead>
  <tbody>
    <% nodes.each do |node| %>
      <tr>
        <td><%= node.name %></td>
        <td><%= node.topics_count %></td>
        <td><%= timeago node.created_at %></td>
        <td>
          <% if policy(node).manage? %>
            <ul class='horizontal-clean-list'>
              <li>
                <%= link_to t('action.delete'), group_node_path(node.group, node),
                  method: :delete, class: 'btn btn-default btn-xs',
                  data: { confirm: t('message.are_you_sure_to_delete?', thing: t('activerecord.models.node')) } %>
              </li>
            </ul>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
