<% content_for :main_block do %>
<div class="col-md-6 col-md-offset-3">
  <h3 class="form-title text-center"><%= t('devise.views.sign_in') %></h3>
  <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), class: 'login-form') do |f| %>
    <%= f.input :email, autofocus: true  %>
    <%= f.input :password  %>
    <div class="form-actions">
      <div class="pull-left">
        <%= f.input :remember_me, label: t('devise.views.remember_me'), as: :boolean if devise_mapping.rememberable? %>
      </div>
      <div class="pull-right forget-password-block">
        <%= link_to new_user_password_path do %>
          <h4><%= t('devise.views.forget_password') %>？</h4>
        <% end %>
      </div>
    </div>

    <div class="form-actions">
      <%= f.button :submit, t('devise.views.sign_in'), class: 'btn btn-success btn-block',  data: { disable_with: t('devise.views.verify')} %>
    </div>

  <% end %>

  <div class="login-options">
    <div class="col-md-6">
    没有收到注册邮件？点击
    <%= link_to new_user_confirmation_path(resource_name) do %>
      <strong>重新发送</strong>
    <% end %>
    </div>
    <p>没有账户？
      <%= link_to new_user_registration_path, class: "uppercase" do %>
        创建新账户
      <% end %>
    </p>

  </div>
</div>

<% end %>
