<div class='article-form'>
  <%= simple_form_for [current_user, @article] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%=
      f.input :title,
      label: false,
      placeholder: t('article.placeholder.title'),
      autofocus: true,
      required: true,
      input_html: {
        autocapitalize: 'off',
        autocorrect: 'none',
        spellcheck: 'false'
      }
    %>
    <div class='row'>
      <div class='col-md-4'>
        <%=
          f.input :category_list,
          label: false,
          collection: @article.categories.map { |t| t.name },
          input_html: {
            multiple: 'multiple',
            data: {
              placeholder: t('article.placeholder.categories')
            }
          }
        %>
      </div>
      <div class='col-md-2'>
        <%=
          f.input :privacy,
          label: false,
          required: true,
          collection: Article.privacies,
          selected: Article.privacies[@article.privacy]
        %>
      </div>
      <div class='col-md-4' id='select-groups'
        style='<%= 'display:none' if @article.privacy != t('privacy_types.group_public') %>'>
        <%=
          f.association :groups,
          label: false,
          required: true,
          label_method: :name,
          value_method: :id,
          collection: @article.groups,
          input_html: {
            id: 'input-group-name-for-user',
            data: {
              user_id: current_user.id,
              placeholder: t('article.placeholder.public_for_groups')
            }
          }
        %>
      </div>
    </div>
    <%=
      f.input :content,
      label: false,
      placeholder: t('article.placeholder.content'),
      required: true,
      as: :text
    %>
    <ul class='list-inline right'>
      <li>
        <%=
          link_to t('action.preview'), '#',
          id: 'article-preview',
          class: 'button'
        %>
      </li>
      <li>
        <%= f.button :submit, t('action.save'), class: 'button' %>
      </li>
      <li>
        <% if @article.id %>
          <%= f.button :submit, t('action.edit'), class: 'button' %>
        <% else %>
          <%= f.button :submit, t('action.add'), class: 'button' %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>

<!-- Preview placeholder -->
<div class="modal fade" id='article-preview'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
