<div class='article-form'>
  <%= simple_form_for @article do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :title %>
    <div class='row'>
      <div class='col-md-4'>
        <%=
          f.input :category_list,
          label: t('article.tags'),
          collection: @article.categories.map { |t| t.name },
          input_html: {
            multiple: 'multiple',
            data: {
              placeholder: t('article.placeholder.categories')
            }
          }
        %>
      </div>
      <div class='col-md-2'>
        <%= f.input :privacy %>
      </div>
      <div class='col-md-4' id='select-groups'
        style='<%= 'display:none' if @article.privacy != 'group_public' %>'>
        <%=
          f.association :groups,
          label: t('article.public_groups'),
          label_method: :name,
          value_method: :id,
          collection: @article.groups,
          input_html: {
            id: 'input-group-name-for-user',
            data: {
              user_id: current_user.id,
              placeholder: t('article.placeholder.public_for_groups')
            }
          }
        %>
      </div>
    </div>
    <div>
      <ul class='nav nav-tabs' role='tablist'>
        <li role='presentation' class='active' id='edit-content'>
          <a href='#edit-content' aria-controls='edit-content'
            role='tab' data-toggle='tab' id='edit-content'>
            <%= t('action.edit') %>
          </a>
        </li>
        <li role='presentation' id='preview-content'>
          <a href='#preview-content' aria-controls='preview-content'
            role='tab' data-toggle='tab' id='preview-content'>
            <%= t('action.preview') %>
          </a>
        </li>
      </ul>
      <div class='tab-content'>
        <div role='tabpanel' class='tab-pane active' id='edit-content'>
          <%= f.input :content, label: false, as: :text %>
        </div>
        <div role='tabpanel' class='tab-pane' id='preview-content'>
          <div id='preview-content-placeholder'></div>
        </div>
      </div>
    </div>
    <ul class='list-inline right'>
      <li><%= f.button :submit, t('action.save'), class: 'button' %></li>
      <li>
        <% if @article.id %>
          <%= f.button :submit, t('action.edit'), class: 'button' %>
        <% else %>
          <%= f.button :submit, t('action.add'), class: 'button' %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>
