<% show_versions ||= false %>
<ul class='left-side-list'>
  <li>
    <%=
      link_to avatar(@article.user, :medium),
      user_path(@article.user)
    %>
  </li>
  <li>
    <ul class='left-side-list'>
      <% @article.categories.each do |t| %>
        <li><span class='label label-default'>
          <%= t.name %>
        </span></li>
      <% end %>
    </ul>
  </li>
  <li>
  <% if policy(@article).update? %>
    <%= link_to fa_icon('edit', text: t('action.edit')), [ :edit, @article ] %>
  <% end %>
  <% if policy(@article).destroy? %>
    <%=
      link_to fa_icon('trash', text: t('action.delete')), @article, method: :delete,
      data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium.article')) }
    %>
  <% end %>
  </li>
  <li>
    <%= render 'collections/collect_button', collectable: @article %>
  </li>
</ul>
