<% show_author = true if local_assigns[:show_author].nil? %>

<table class='articles'>
  <thead>
    <tr>
      <th width='200'><%= t('article.title') %></th>
      <% if show_author %>
        <th width='100'><%= t('article.author') %></th>
      <% end %>
      <th width='200'><%= t('global.create_time') %></th>
      <th width='100'><%= t('article.browse_count') %></th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |article| %>
      <% next if cannot? :show, article %>
      <tr
        <% if article.draft %>
          class='article-draft'
        <% end %>
      >
        <td><%= link_to "《#{article.title}》", [ main_app, article.user, article ] %></td>
        <% if show_author %>
          <td><%= link_to article.user.name, main_app.user_path(article.user) %></td>
        <% end %>
        <td><%= article.created_at %></td>
        <td><%= article.impressionist_count filter: :session_hash %></td>
      </tr>
    <% end %>
  </tbody>
</table>
