<% show_author = true if local_assigns[:show_author].nil? %>

<table class='table table-striped'>
  <thead>
    <tr>
      <th width='100'><%= t('activerecord.attributes.article.title') %></th>
      <% if show_author %>
        <th width='50'><%= t('activerecord.attributes.article.user') %></th>
      <% end %>
      <th width='50'><%= t('activerecord.attributes.article.created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% articles.each do |article| %>
      <% next if not article.public? and ( ( current_user and current_user != article.user ) or show_author ) %>
      <tr class='clickable-row' data-href='<%= article_path(article) %>'>
        <td><%= "《#{article.title}》" %></td>
        <% if show_author %>
          <td><%= link_to article.user.name, article.user %></td>
        <% end %>
        <td><%= timeago article.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
