<% content_for :title, @article.title %>

<% content_for :center_column do %>
  <div class='panel panel-default box-shadow'>
    <div class='panel-body'>
      <div style='margin-bottom: 10px;'>
        <ul class='horizontal-clean-list' style='display: inline-block;'>
          <li><%= link_to image_tag(@article.user.profile.avatar_url(:thumb), class: 'avatar'), @article.user %></li>
          <li>更新于<%= timeago @article.updated_at %></li>
        </ul>
        <div class='pull-right'>
          <ul class='horizontal-clean-list'>
            <% if policy(@article).update? %>
              <li><%= link_to fa_icon('edit'), edit_article_path(@article) %></li>
            <% end %>
            <% if policy(@article).destroy? %>
              <li>
                <%= link_to fa_icon('trash'), @article, method: :delete,
                  data: { confirm: t('message.are_you_sure_to_delete?', thing: t('activerecord.models.article')) } %>
              </li>
            <% end %>
            <% if user_signed_in? %>
              <li><%= render 'collections/collect_button', collectable: @article %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <h6 class='horizontal-centered'><%= @article.title %></h6>
      <p class='readability mathjax'><%= raw @article.content %></p>
      <dl>
        <dt></dt>
        <dd><%= render 'comments/list', commentable: @article %></dd>
      </dl>
    </div>
  </div>
<% end %>
