<% content_for :title, @article.title %>
<% add_breadcrumb @article.title, @article %>

<% content_for :left_side do %>
  <%= render 'profile_left', show_versions: true %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('versions') %></dt>
    <dd>
      <ul class='versions'>
        <% @article.versions.each do |version| %>
          <% next if not version.reify or not version.previous %>
          <li id='version-<%= version.previous.id %>'>
            <%= render 'diff', article: @article, previous_version: version.previous, current_version: version.reify %>
          </li>
        <% end %>
        <% if @article.versions.last %>
          <li id='version-<%= @article.versions.last.id %>'>
            <%= render 'diff', article: @article, previous_version: @article.versions.last, current_version: @article %>
          </li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>
