<% content_for :title, @article.title %>
<% add_breadcrumb @article.title, user_article_path(@article.user, @article) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('versions') %></dt>
    <dd>
      <ul class='versions'>
        <% @article.versions.each do |v| %>
          <% next if not v.reify or not v.previous %>
          <li>
            <div class='panel panel-default'>
              <div class='panel-heading'>
                #<%= v.id %> <%= v.reify.updated_at %>
              </div>
              <div class='panel-body'>
                <%=
                  markdown_diff v.previous.reify.content, v.reify.content
                %>
              </div>
            </div>
          </li>
        <% end %>
        <li>
          <div class='panel panel-default'>
            <div class='panel-heading'>
              #<%= @article.id %> <%= @article.updated_at %>
            </div>
            <div class='panel-body'>
              <%=
                markdown_diff @article.previous_version.content, @article.content
              %>
            </div>
          </div>
        </li>
      </ul>
    </dd>
  </dl>
<% end %>
