<% content_for :title, @article.title %>
<% add_breadcrumb @article.title, user_article_path(@article.user, @article) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('versions') %></dt>
    <dd>
      <ul class='versions'>
        <% @article.versions.each do |v| %>
          <% next if not v.reify or not v.previous %>
          <li id='version-<%= v.previous.id %>'>
            <%=
              render partial: 'diff',
              locals: {
                article: @article,
                previous_version: v.previous,
                current_version: v.reify
              }
            %>
          </li>
        <% end %>
        <li id='version-<%= @article.versions.last.id %>'>
          <%=
            render partial: 'diff',
            locals: {
              article: @article,
              previous_version: @article.versions.last,
              current_version: @article
            }
          %>
        </li>
      </ul>
    </dd>
  </dl>
<% end %>
