<div class='panel panel-default'>
  <div class='panel-body center'>
    <ul class='vertical-clean-list'>
      <li>
        <%= link_to avatar(@topic.user, size: :medium), @topic.user %>
      </li>
      <li>
        <span class='label label-default'><%= @topic.node.name %></span>
      </li>
      <li>
        <% if policy(@topic).update? %>
          <%= link_to fa_icon('edit', text: t('action.edit')), [ :edit, @group, @topic ] %>
        <% end %>
        <% if policy(@topic).destroy? %>
          <%= link_to fa_icon('trash', text: t('action.delete')), [@group, @topic], method: :delete,
            data: { confirm: t('message.are_you_sure_to_delete?', thing: t('activerecord.models.topic')) } %>
        <% end %>
      </li>
      <li>
        <%= render 'collections/collect_button', collectable: @topic %>
      </li>
    </ul>
  </div>
</div>
