<% content_for :left_column do %>
  <%= render 'groups/profile_left' %>
<% end %>

<% content_for :center_column do %>
  <% is_in_group = is_in_group? @group %>
  <ul class='horizontal-line-list'>
    <% if @topics.empty? %>
      <div class='horizontal-centered'>还没有任何话题哦。</div>
    <% else %>
      <% @topics.order('id DESC').each do |topic| %>
        <% next if not is_in_group and topic.private? %>
        <li>
          <div class='row'>
            <div class='col-xs-1'>
              <%= avatar topic.user, size: '50x50' %>
            </div>
            <div class='col-xs-11'>
              <span style='display: inline-block; margin-left: 1em;'>
                <%= link_to topic.title, [@group, topic] %><br/>
                <span class='label label-default'><%= topic.node.name %></span>
                <%= fa_icon 'comment-o', text: topic.comments_count, style: 'margin-left: 1em;' %>
                <%= fa_icon 'eye', text: topic.views_count, style: 'margin-left: 1em;' %>
              </span>
            </div>
          </div>
        </li>
      <% end %>
    <% end %>
  </ul>
<% end %>
