<tr id='folder-<%= folder.id %>'>
  <td><%= get_resource_icon folder %> <span class='folder-name'><%= link_to folder.name, folder, remote: true %></span></td>
  <td><%= folder.created_at %></td>
  <!-- 目录操作列表 -->
  <td style='display: none;'>
    <ul>
      <li>
        <%=
          link_to '', folder, method: :delete,
          id: "folder-#{folder.id}-delete", remote: true
        %>
      </li>
      <li>
        <%=
          link_to '', folder, method: :patch,
          id: "folder-#{folder.id}-update", remote: true
        %>
      </li>
      <li>
        <%=
          link_to '', new_share_path,
          id: "folder-#{folder.id}-share", remote: true
        %>
      </li>
    </ul>
  </td>
</tr>
