<tr id='folder-<%= folder.id %>'>
  <% if defined? current_share_id %>
    <!-- 在分享列表中显示。 -->
    <td>
      <%= fa_icon('folder-o') %>
      <%= link_to folder.name, [ folder, current_share_id: current_share_id ], remote: true %>
    </td>
  <% else %>
    <td><%= fa_icon('folder-o') %> <%= link_to folder.name, folder, remote: true %></td>
  <% end %>
  <td><%= timeago folder.created_at %></td>
  <td><%= render 'resource_board/share_hosts', object: folder %></td>
  <!-- 文件夹操作列表 -->
  <td style='display: none;'>
    <ul>
      <li>
        <%=
          link_to '', folder, method: :delete,
          id: "folder-#{folder.id}-delete", remote: true
        %>
      </li>
      <li>
        <%=
          link_to '', folder, method: :patch,
          id: "folder-#{folder.id}-update", remote: true
        %>
      </li>
      <li>
        <%=
          link_to '', new_share_path,
          id: "folder-#{folder.id}-share", remote: true
        %>
      </li>
    </ul>
  </td>
</tr>
