<tr id='resource-<%= resource.id %>'>
  <td><%= fa_icon('file-o') %> <%= link_to resource.name, resource %></td>
  <td><%= resource.created_at %></td>
  <td id='resource-<%= resource.id %>-share-hosts' style='text-align: center;'>
    <%= render 'resource_board/share_hosts', object: resource %>
  </td>
  <!-- 文件操作列表 -->
  <td style='display: none;'>
    <ul>
      <li>
        <%=
          link_to '', resource, method: :delete,
          id: "resource-#{resource.id}-delete", remote: true
        %>
      </li>
      <li>
       <%=
         link_to '', resource, method: :patch,
         id: "resource-#{resource.id}-update", remote: true
       %>
      </li>
      <li>
        <%=
          link_to '', new_share_path,
          id: "resource-#{resource.id}-share", remote: true
        %>
      </li>
    </ul>
  </td>
</tr>
