<tr id='resource-<%= resource.id %>'>
  <td><%= fa_icon('file-o') %> <span class='resource-name'><%= link_to resource.name, resource %></span></td>
  <td><%= resource.created_at %></td>
  <td style='display: none;'><%= link_to '', resource, method: :delete, id: "resource-#{resource.id}-delete", remote: true %></td>
</tr>
