<tr class='clickable-row' data-href='<%= url_for [ resource.resourceable, resource ] %>' id='resource-<%= resource.id %>'>
  <td><%= fa_icon('file-o') %> <span class='resource-name'><%= resource.name %></span></td>
  <td><%= resource.created_at %></td>
</tr>
