<tr id='resource-<%= resource.id %>'>
  <td><%= get_resource_icon resource %> <span class='resource-name'><%= link_to resource.name, resource %></span></td>
  <td><%= resource.created_at %></td>
  <td style='display: none;'>
    <ul>
      <li>
        <%=
          link_to '', resource, method: :delete,
          id: "resource-#{resource.id}-delete", remote: true
        %>
      </li>
      <li>
       <%=
         link_to '', resource, method: :patch,
         id: "resource-#{resource.id}-update", remote: true
       %>
      </li>
      <li>
        <%=
          link_to '', new_share_path,
          id: "resource-#{resource.id}-share", remote: true
        %>
      </li>
    </ul>
  </td>
</tr>
