<% only_logo = false if local_assigns[:only_logo].nil? %>
<div class='row'>
  <% groups.each do |group| %>
    <% if only_logo %>
      <a href='<%= group_path(group) %>'>
        <%= logo group, size: :thumb %>
      </a>
    <% else %>
      <div class='col-md-3 col-sm-4 col-xs-6'>
        <div class='panel panel-default'>
          <div class='panel-body center'>
            <%= link_to logo(group, size: :medium), group %><br/>
            <%= group.name %><br/>
            <%= fa_icon 'group', text: group.members_count, style: 'margin-top: 10px;' %>
            <%= fa_icon 'tags', text: group.nodes_count, style: 'margin-left: 5px;' %>
            <%= fa_icon 'comments-o', text: group.topics_count, style: 'margin-left: 5px;' %>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
</div>
