<div class='group-form'>
  <%= simple_form_for(@group) do |f| %>
    <div class='row'>
      <div class='col-md-8'>
        <%= f.input :name, autofocus: true %>
      </div>
      <div class='col-md-4'>
        <%= f.input :short_name %>
      </div>
    </div>
    <%= f.input :category_list, collection: @group.categories.map { |t| t.name },
      input_html: { class: 'use-select2-multiple-tags', multiple: 'multiple' } %>
    <%= f.input :description, as: :text %>

    <%= f.button :submit, t('action.submit'), class: 'btn btn-success uppercase btn-block' %>
  <% end %>
</div>
