<div class='group-form'>
  <%= simple_form_for(@group) do |f| %>
    <%=
      image_tag 'medium/default_avatar.png',
      size: '100x100',
      id: 'preview-avatar'
    %>
    <%=
      f.file_field :logo,
      required: true,
      id: 'upload-avatar'
    %>
    <%=
      f.input :name,
      label: false,
      placeholder: t('global.name'),
      autofocus: true,
      required: true
    %>
    <%=
      f.input :category_list,
      label: false,
      collection: @group.categories.map { |t| t.name },
      input_html: {
        multiple: 'multiple',
        data: {
          placeholder: t('group.placeholder.categories')
        }
      }
    %>
    <%=
      f.input :privacy,
      label: false,
      required: true
    %>
    <%=
      f.input :description,
      label: false,
      placeholder: t('global.description'),
      required: true,
      as: :text
    %>
    <%=
      f.association :users,
      label: false,
      required: true,
      label_method: :name,
      value_method: :id,
      collection: @group.users,
      input_html: {
        id: 'input-user-name',
        multiple: 'multiple',
        data: {
          placeholder: t('group.members')
        }
      }
    %>
    <% if content_for(:title) == t('action.edit')+t('scrinium.group') %>
      <%= f.button :submit, t('action.edit'), class: 'button float-right' %>
    <% else %>
      <%= f.button :submit, t('action.add'), class: 'button float-right' %>
    <% end %>
  <% end %>
</div>
