<div class='panel panel-default box-shadow'>
  <div class='panel-body' style='text-align: center;'>
    <ul class='vertical-clean-list'>
      <li><%= link_to logo(@group, size: :medium), @group %></li>
      <li><%= @group.name %></li>
      <li><%= t('activerecord.attributes.group.admin') %>: <%= link_to @group.admin.name, @group.admin %></li>
      <li><%= @group.status.text %></li>
      <li>
        <ul class='vertical-clean-list'>
          <% @group.categories.each do |tag| %>
            <li><span class='label label-default'>
              <%= tag.name %>
            </span></li>
          <% end %>
        </ul>
      </li>
      <li><%= t('activerecord.attributes.group.created_at')+': '+@group.created_at.strftime("%Y-%-m") %></li>
      <li>
        <%= link_to fa_icon('users', text: t('group.member')), members_group_path(@group) %>
      </li>
      <% if policy(@group).update? %>
        <li>
          <%= link_to fa_icon('edit', text: t('action.edit')), edit_group_path(@group, :profile) %>
        </li>
      <% end %>
      <% if policy(@group).create_topic? %>
        <li>
          <%= link_to fa_icon('comments', text: t('topic.create')), new_group_topic_path(group_id: @group.id) %>
        </li>
      <% end %>
      <li><%= render 'memberships/apply_button', host: @group %></li>
    </ul>
  </div>
</div>
