<ul class='left-side-list'>
  <li><%= logo @group, :medium %></li>
  <li><%= @group.name %></li>
  <li><%= t('global.contact') %>: <%= link_to @group.admin.name, @group.admin %></li>
  <li><%= @group.privacy.text %></li>
  <li>
    <ul class='left-side-list'>
      <% @group.categories.each do |t| %>
        <li><span class='label label-default'>
          <%= t.name %>
        </span></li>
      <% end %>
    </ul>
  </li>
  <li><%= t('global.create_time')+': '+@group.created_at.to_s %></li>
  <li><%= link_to fa_icon('edit', text: t('action.edit')), edit_group_path(@group) %></li>
  <li><%= render 'memberships/apply_button', host: @group %></li>
  <li>
    <dl class='small'>
      <dt><%= t('group.members') %></dt>
      <dd>
        <div class='row'>
          <% @group.users.each do |u| %>
            <div class='col-md-4'>
              <%= link_to avatar(u, :small), user_path(u) %>
            </div>
          <% end %>
        </div>
      </dd>
    </dl>
  </li>
</ul>
