<ul class='left-side-list'>
  <li><%= logo @group, size: :medium %></li>
  <li><%= @group.name %></li>
  <li><%= t('global.contact') %>: <%= link_to @group.admin.name, @group.admin %></li>
  <li><%= @group.privacy.text %></li>
  <li>
    <ul class='left-side-list'>
      <% @group.categories.each do |tag| %>
        <li><span class='label label-default'>
          <%= tag.name %>
        </span></li>
      <% end %>
    </ul>
  </li>
  <li><%= t('global.create_time')+': '+@group.created_at.to_s %></li>
  <% if policy(@group).update? %>
    <li>
      <%= link_to fa_icon('edit', text: t('action.edit')), [ :edit, @group ] %>
    </li>
  <% end %>
  <li><%= render 'memberships/apply_button', host: @group %></li>
  <li>
    <dl class='small'>
      <dt><%= t('group.members') %></dt>
      <dd>
        <div class='row'>
          <% @group.users.each do |user| %>
            <div class='col-md-4'>
              <%= link_to avatar(user, size: :small), user %>
            </div>
          <% end %>
        </div>
      </dd>
    </dl>
  </li>
</ul>
