<table class='table table-striped'>
  <col width='100'>
  <col width='50'>
  <col width='50'>
  <col width='50'>
  <thead>
    <tr>
      <th><%= t('activerecord.attributes.group.name') %></th>
      <th><%= t('activerecord.attributes.group.admin') %></th>
      <th><%= t('activerecord.attributes.group.created_at') %></th>
      <th><%= t('group.member_number') %></th>
    </tr>
  </thead>
  <tbody>
    <% groups.all.each do |group| %>
      <tr class='clickable-row' data-href='<%= group_path(group) %>'>
        <td><%= group.name %></td>
        <td><%= link_to group.admin.name, group.admin %></td>
        <td><%= timeago group.created_at %></td>
        <td><%= group.users.size %></td>
      </tr>
    <% end %>
  </tbody>
</table>
