<% content_for :title, t('scrinium.group') %>

<% content_for :main_block do %>
  <table>
    <thead>
      <tr>
        <th width='200'><%= t('group.name') %></th>
        <th width='100'><%= t('group.owner') %></th>
        <th width='200'><%= t('global.create_time') %></th>
        <th width='100'><%= t('group.member_number') %></th>
      </tr>
    </thead>
    <tbody>
      <% Group.all.each do |g| %>
        <tr>
          <td><%= link_to "#{g.name}", group_path(g) %></td>
          <td><%= link_to User.find_by_id(g.admin_id).name, user_path(User.find_by_id(g.admin_id)) %></td>
          <td><%= g.created_at %></td>
          <td><%= g.users.size %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <%= link_to t('action.add'), new_group_path, class: 'button right' %>
<% end %>
