<div class="user-profile">
  <%= get_gravatar @user, 90 %>
  <div class="name">
    <%= @user.full_name %>
  </div>
  <div class="affiliation">
    <%= @user.affiliation %>
  </div>
  <div class="position">
    <%= @user.position %>
  </div>
  <div class="role">
    <%= User::Roles[@user.role] %>
  </div>
  <div class="join_time">
    <p><%= fa_icon('clock-o', text: t('user.joined_at', date: @user.created_at.strftime("%Y-%-m"))) %></p>
  </div>
  <div class='console'>
    <a href="<%= edit_user_registration_path(@user) %>"><%= fa_icon('edit', text: t('user.console.edit_info')) %></a><br/>
    <% if current_user.super_admin? %>
      <%= link_to fa_icon('dashboard', text: t('dashboard.super_admin')), dashboard_super_admin_path %>
    <% end %>
  </div>
</div>