<div class='panel panel-default'>
  <div class='panel-body center'>
    <ul class="vertical-clean-list">
      <li>
        <a href='<%= user_path(@user) %>'>
          <%= avatar @user, size: "100x100" %>
        </a>
      </li>
      <% if user_signed_in? and current_user != @user %>
        <li><%= @user.name %></li>
      <% end %>
      <li><%= @user.profile.signature %></li>
      <% if user_signed_in? and current_user != @user %>
        <li><%= render 'relationships/follow_button', followed: @user %></li>
      <% end %>
      <li>
        <div class='row'>
          <a href='<%= user_following_path(@user) %>'>
            <div class='col-md-6 col-sm-6 col-xs-6 following-count'>
              <%= t('activerecord.attributes.relationship.following') %><br/>
              <%= @user.following.size %>
            </div>
          </a>
          <a href='<%= user_followers_path(@user) %>'>
            <div class='col-md-6 col-sm-6 col-xs-6 follower-count'>
              <%= t('activerecord.attributes.relationship.follower') %><br/>
              <%= @user.followers.size %>
            </div>
          </a>
        </div>
      </li>
      <li><%= render 'memberships/organization_logos', user: @user %></li>
      <li><%= @user.role.text %></li>
      <% if policy(@user).update? %>
        <li><%= link_to fa_icon('edit', text: t('action.edit')), edit_profile_user_path(@user) %></li>
        <li><%= link_to fa_icon('key', text: t('devise.views.change_password')), edit_user_registration_path %></li>
      <% end %>
      <li>
        <%= fa_icon('clock-o', text: t('activerecord.attributes.user.created_at')) %>: <%= @user.created_at.strftime("%Y-%-m") %>
      </li>
    </ul>
  </div>
</div>
<div class='panel panel-default'>
  <div class='panel-body center' style='height: 200px;'>
    事件提醒
  </div>
</div>
