<div class='panel panel-default box-shadow'>
  <div class='panel-body horizontal-centered'>
    <ul class="vertical-clean-list">
      <li>
        <%= link_to image_tag(@user.profile.avatar.url(:medium), class: 'avatar'), show_user_home_page_path(@user) %>
      </li>
      <% if user_signed_in? and current_user != @user %>
        <li><%= @user.name %></li>
      <% end %>
      <li><%= @user.profile.signature %></li>
      <li><%= render 'relationships/follow_button', followed: @user %></li>
      <li>
        <div class='row'>
          <a href='<%= user_following_path(@user) %>'>
            <div class='col-md-6 col-sm-6 col-xs-6 following-count-block'>
              <%= t('activerecord.attributes.relationship.following') %><br/>
              <span id='following-count'><%= @user.following.size %></span>
            </div>
          </a>
          <a href='<%= user_followers_path(@user) %>'>
            <div class='col-md-6 col-sm-6 col-xs-6 follower-count-block'>
              <%= t('activerecord.attributes.relationship.follower') %><br/>
              <span id='follower-count'><%= @user.followers.size %></span>
            </div>
          </a>
        </div>
      </li>
      <li><%= @user.role.text %></li>
      <% if policy(@user).update? %>
        <li><%= link_to fa_icon('edit', text: t('action.edit')), edit_user_path(@user, :profile) %></li>
        <li><%= link_to fa_icon('key', text: t('devise.views.change_password')), edit_user_registration_path %></li>
      <% end %>
      <li>
        <%= link_to fa_icon('newspaper-o', text: t('activerecord.models.activity')), activities_path %>
      </li>
      <li>
        <%= fa_icon('clock-o', text: t('activerecord.attributes.user.created_at')) %>: <%= @user.created_at.strftime("%Y-%-m") %>
      </li>
    </ul>
  </div>
</div>

<div class='panel panel-default box-shadow'>
  <div class='panel-heading'>
    工作台导航
  </div>
  <div class='panel-body sidenav'>
    <ul class='nav nav-pills nav-stacked'>
      <% ['articles', 'collections', 'resources'].each do |category| %>
        <li role='presentation' class='<%= @category == category ? 'active' : '' %>'>
          <%= link_to t("user.show.#{category}"), show_user_path(@user, category) %>
        </li>
      <% end %>
    </ul>
  </div>
</div>

<div class='panel panel-default box-shadow'>
  <div class='panel-heading'>
    <%= t('activerecord.models.user_quotum') %>
    <span data-toggle='tooltip' data-placement='right' title='十分抱歉！目前SCRINIUM的资源有限！'>
      <%= fa_icon 'info-circle' %>
    </span>
  </div>
  <div class='panel-body'>
    <ul class='vertical-clean-list'>
      <li>
        <%= t('activerecord.attributes.user_quotum.resources_size') %>
        <span class='pull-right'>
          <%= @user.user_quotum.resources_size.round(2) %>MB / <%= @user.user_quotum.max_resources_size.round(2) %>MB
        </span>
        <br/>
        <div class='progress'>
          <% resource_percentage = 100 * @user.user_quotum.resources_size.to_f / @user.user_quotum.max_resources_size %>
          <div class='progress-bar <%= 'progress-bar-danger' if resource_percentage > 80 %>' style='width: <%= resource_percentage %>%'></div>
        </div>
      </li>
      <li>
        <%= t('activerecord.attributes.user_quotum.articles_count') %>
        <span class='pull-right'>
          <%= @user.user_quotum.articles_count %> / <%= @user.user_quotum.max_articles_count %>
        </span>
        <br/>
        <div class='progress'>
          <% article_percentage = 100 * @user.user_quotum.articles_count.to_f / @user.user_quotum.max_articles_count %>
          <div class='progress-bar <%= 'progress-bar-danger' if article_percentage > 80 %>' style='width: <%= article_percentage %>%'></div>
        </div>
      </li>
      <li>
        <%= t('activerecord.attributes.user_quotum.groups_count') %>
        <span class='pull-right'>
          <%= @user.user_quotum.groups_count %> / <%= @user.user_quotum.max_groups_count %>
        </span>
        <br/>
        <div class='progress'>
          <% group_percentage = 100 * @user.user_quotum.groups_count.to_f / @user.user_quotum.max_groups_count %>
          <div class='progress-bar <%= 'progress-bar-danger' if group_percentage > 80 %>' style='width: <%= group_percentage %>%'></div>
        </div>
      </li>
    </ul>
  </div>
</div>
