<ul class="left-side-list">
  <li><%= get_gravatar @user, 90 %></li>
  <li><%= @user.full_name %></li>
  <li>
    <% if @user.organization %>
      <%= @user.organization.name %>
    <% else %>
      <%= t('user.has_no_affiliation') %>
    <% end %>
  </li>
  <li><%= @user.position %></li>
  <li><%= User::Roles[@user.role] %></li>
  <li>
    <%= fa_icon('clock-o', text: t('user.joined_at', date: @user.created_at.strftime("%Y-%-m"))) %>
  </li>
  <li><%= link_to fa_icon('edit', text: t('user.console.edit_info')), edit_user_registration_path(@user) %></li>
  <li><%= link_to fa_icon('dashboard', text: t('global.dashboard')), dashboard_index_path %></li>
  <li>
    <a href='#group-list'
      data-toggle='collapse'
      aria-expanded='false'
      aria-controls='group-list'>
      <%= fa_icon('users', text: t('user.join_groups', group_number: @user.groups.all.size)) %>
    </a>
  </li>
</ul>

<!-- Group list placeholder -->
<div class='collapse' id='group-list'>
  <ul class='left-side-list'>
    <% @user.groups.all.each do |g| %>
      <li class='indent'>
        <%= link_to fa_icon('chevron-right', text: g.name), group_path(g) %>
      </li>
    <% end %>
    <li class='indent'>
      <%= link_to fa_icon('plus-square', text: t('action.add')+t('scrinium.group')), new_group_path %>
    </li>
  </ul>
</div>
