<ul class="left-side-list">
  <li><%= avatar @user, :medium %></li>
  <li><%= @user.name %></li>
  <% if @user.organization %>
    <% if @user.organization_approved %>
      <li><%= @user.organization.name %></li>
      <li><%= @user.position %></li>
    <% else %>
      <li><span data-toggle='tooltip' data-placement='bottom' title='<%= t('message.unapproved') %>'
      style='color: grey;'><%= @user.organization.name %></span></li>
      <li><span data-toggle='tooltip' data-placement='bottom' title='<%= t('message.unapproved') %>'
      style='color: grey;'><%= @user.position %></span></li>
    <% end %>
  <% else %>
    <li><%= t('user.has_no_affiliation') %></li>
  <% end %>
  <li><%= @user.role %></li>
  <li>
    <%= fa_icon('clock-o', text: t('user.joined_at', date: @user.created_at.strftime("%Y-%-m"))) %>
  </li>
  <% if current_user == @user %>
    <li><%= link_to fa_icon('edit', text: t('user.console.edit_info')), edit_user_path(@user) %></li>
    <li><%= link_to fa_icon('key', text: t('action.edit')+t('user.password')), change_user_password_path(@user) %></li>
    <li>
      <%=
        link_to fa_icon('file-o', text: t('action.add')+t('scrinium.article')),
        new_user_article_path(@user),
        id: 'add-article'
      %>
    </li>
    <li>
      <%=
        link_to fa_icon('cube', text: t('action.add')+t('scrinium.resource')),
        new_user_resource_path(@user),
        id: 'add-resource', style: 'display: none;'
      %>
    </li>
  <% end %>
  <li>
    <a href='#group-list'
      data-toggle='collapse'
      aria-expanded='false'
      aria-controls='group-list'>
      <%= fa_icon('users', text: t('user.join_groups', group_number: @user.groups.all.size)) %>
    </a>
  </li>
</ul>

<!-- Group list placeholder -->
<div class='collapse' id='group-list'>
  <ul class='left-side-list'>
    <% @user.groups.all.each do |g| %>
      <li class='indent'>
        <%= link_to fa_icon('chevron-right', text: g.name), group_path(g) %>
      </li>
    <% end %>
    <li class='indent'>
      <%= link_to fa_icon('plus-square', text: t('action.add')+t('scrinium.group')), new_group_path %>
    </li>
  </ul>
</div>
