<table class='table'>
  <thead>
    <tr>
      <th width="50"><%= t('user.name') %></th>
      <th width="200"><%= t('user.email') %></th>
      <th width="200"><%= t('user.affiliation') %></th>
      <th width="80"><%= t('user.role') %></th>
      <% if is_super_admin_or_admin?(current_user) %>
        <th width="100"><%= t('actions') %></th>
      <% end %>
    </tr>
  </thead>
  <tbody>
    <% users.each do |u| %>
      <tr>
        <td>
          <a href="<%= user_path(u) %>"><%= u.name %></a>
        </td>
        <td><%= u.email %></td>
        <td>
          <% if u.organization %>
            <%= u.organization.name %>
          <% end %>
        </td>
        <td><%= u.role %></td>
        <% if is_super_admin_or_admin?(current_user) %>
          <td>
            <% if current_user != u %>
              <%=
                link_to t('action.delete'),
                user_path(u),
                method: :delete,
                data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium.user')) },
                class: 'button btn-xs btn-danger'
              %>
              <%=
                link_to t('action.edit'),
                edit_user_path(u),
                class: 'button btn-xs'
              %>
            <% end %>
          </td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
