<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :center_column do %>
  <div class='devise-form'>
    <%= simple_form_for @user, url: update_password_users_path, method: :put  do |f| %>
      <%= f.input :current_password %>
      <%= f.input :password %>
      <%= f.input :password_confirmation %>

      <%= f.button :submit, t('action.submit'), class: 'btn btn-success uppercase btn-block' %>
    <% end %>
  </div>
<% end %>
