<% content_for :title, t('devise.views.change_password') %>

<% content_for :center_column do %>
<div class='block'>
  <div class='vertical-centered'>
    <div class='devise-form' style='margin-top: 10%'>
      <%= simple_form_for @user, url: update_password_users_path, method: :put  do |f| %>
        <%= f.input :current_password, input_html: {
            style: 'border-top-width: 1px; border-bottom-width: 1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0;'
          }, wrapper_html: {
            style: 'margin-bottom: 0px'
          } %>
        <%= f.input :password, input_html: {
            style: 'border-top-width: 1px; border-bottom-width: 1px; border-radius: 0; border-radius: 0;'
          }, wrapper_html: {
            style: 'margin-bottom: 0px'
          } %>
        <%= f.input :password_confirmation, input_html: {
            style: 'border-top-width: 1px; border-top-left-radius: 0; border-top-right-radius: 0;'
          } %>

        <%= f.button :submit, t('devise.views.change_password'), class: 'btn btn-success uppercase btn-block' %>
      <% end %>
    </div>
  </div>
</div>
<% end %>
