<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :left_column do %>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <ul class='nav nav-pills nav-stacked'>
        <li role='presentation'>
          <%= link_to t('user.edit.profile'), edit_profile_user_path(@user) %>
        </li>
        <li role='presentation' class='active'>
          <%= link_to t('user.edit.experience'), '#' %>
        </li>
        <li role='presentation'>
          <%= link_to t('user.edit.achievement'), edit_achievement_user_path %>
        </li>
        <li role='presentation'>
          <%= link_to t('user.edit.home_page'), edit_home_page_user_path(@user) %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :center_column do %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= t('user.edit.experience') %>
    </div>
    <div class='panel-body'>
      <%= simple_form_for @user do |f| %>
        <%= f.simple_fields_for :experience do |experience_form| %>
          <%= experience_form.input :content, label: false %>
        <% end %>
        <%= f.button :submit, t('action.submit'), class: 'btn btn-success pull-right' %>
      <% end %>
    </div>
  </div>
  <script>
    $(function() {
      $('#user_experience_attributes_content').froalaEditor({
        height: '300'
      })
    });
  </script>
<% end %>
