<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :left_column do %>
  <div class='panel panel-default'>
    <div class='panel-body'>
      <ul class='nav nav-pills nav-stacked'>
        <li role='presentation' class='active'>
          <%= link_to t('user.edit.profile'), '#' %>
        </li>
        <li role='presentation'>
          <%= link_to t('user.edit.experience'), edit_experience_user_path(@user) %>
        </li>
        <li role='presentation'>
          <%= link_to t('user.edit.achievement'), edit_achievement_user_path %>
        </li>
        <li role='presentation'>
          <%= link_to t('user.edit.home_page'), edit_home_page_user_path(@user) %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :center_column do %>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= t('user.edit.profile') %>
    </div>
    <div class='panel-body'>
      <%= simple_form_for @user do |f| %>
        <%= f.simple_fields_for :profile do |profile_form| %>
          <%= render 'layouts/upload_image', form: profile_form, object: @user.profile, image_attribute_name: :avatar %>
        <% end %>
        <%= f.input :name, required: false %>
        <%= f.simple_fields_for :profile do |profile_form| %>
          <div class='row'>
            <div class='col-md-4'>
              <%= profile_form.input :gender, required: false %>
            </div>
            <div class='col-md-4'>
              <%= profile_form.input :country %>
            </div>
            <div class='col-md-4'>
              <%= profile_form.input :title, required: false %>
            </div>
          </div>
          <%= profile_form.input :affiliation %>
          <%= profile_form.input :signature %>
          <%= profile_form.input :bio %>
        <% end %>
        <div class='center'>
          <%= f.button :submit, t('action.submit'), class: 'btn btn-success' %>
        </div>
      <% end %>
    </div>
  </div>
  <script>
    $(function() {
      $('#user_profile_attributes_bio').froalaEditor({
        height: '300'
      })
    })
  </script>
<% end %>
