<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :center_column do %>
  <div class='devise-form'>
    <%= simple_form_for @user do |f| %>
      <%= f.simple_fields_for :profile do |profile_form| %>
        <%=
          render 'layouts/upload_image', form: profile_form,
          object: @user.profile, image_attribute_name: :avatar,
          default_image: 'logos/default_avatar.png'
        %>
      <% end %>
      <%= f.input :name %>
      <%= f.simple_fields_for :profile do |profile_form| %>
        <div class='row'>
          <div class='col-md-6'>
            <%= profile_form.input :gender %>
          </div>
          <div class='col-md-6'>
            <%= profile_form.input :title %>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <%= profile_form.input :country %>
          </div>
          <div class='col-md-6'>
            <%= profile_form.input :city %>
          </div>
        </div>
        <div class='center'>
          <%= profile_form.input :qq, label: fa_icon('qq') %>
          <%= profile_form.input :weibo, label: fa_icon('weibo') %>
          <%= profile_form.input :wechat, label: fa_icon('wechat') %>
        </div>
      <% end %>
      <%= f.button :submit, t('action.submit'), class: 'btn btn-success uppercase btn-block' %>
    <% end %>
  </div>
<% end %>
