<% content_for :title, t('user.edit') %>

<% content_for :main_block do %>
  <div class='devise-form'>
    <%= simple_form_for @user do |f| %>
      <div class='center'>
        <%= image_tag @user.avatar.url, size: '100x100', id: 'preview-avatar' %>
        <%= f.file_field :avatar, id: 'upload-avatar' %>
      </div>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :name %>
        </div>
        <div class='col-md-6'>
          <%= f.input :gender %>
        </div>
      </div>
      <%= f.input :role, disabled: current_user.role != 'admin' %>
      <%= f.input :email %>
      <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
    <% end %>
  </div>
<% end %>
