<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :main_block do %>
  <div class='devise-form'>
    <%= simple_form_for @user do |f| %>
      <div class='center'>
        <%= f.simple_fields_for :profile, f.object.profile.present? ? f.object.profile : f.object.build_profile do |profile_form| %>
          <div class="fileinput fileinput-new" data-provides="fileinput">
            <div class="fileinput-preview thumbnail" data-trigger="fileinput" style="width: 200px; height: 200px;">
              <%= image_tag @user.profile.avatar_url %>
            </div>
            <div>
              <span class="button btn-file">
                <span class="fileinput-new">
                  <%= t('action.upload_avatar') %>
                </span>
                <span class="fileinput-exists">
                  <%= t('action.change_avatar') %>
                </span>
                <%= profile_form.file_field :avatar %>
              </span>
              <a href="#" class="button btn-danger fileinput-exists" data-dismiss="fileinput">
                <%= t('action.delete_avatar') %>
              </a>
            </div>
          </div>
        <% end %>
      </div>
      <%= f.input :name %>
      <%= f.simple_fields_for :profile, f.object.profile.present? ? f.object.profile : f.object.build_profile do |profile_form| %>
        <div class='row'>
          <div class='col-md-6'>
            <%= profile_form.input :gender %>
          </div>
          <div class='col-md-6'>
            <%= profile_form.input :title %>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <%= profile_form.input :country %>
          </div>
          <div class='col-md-6'>
            <%= profile_form.input :city %>
          </div>
        </div>
        <div class='center'>
          <%= profile_form.input :qq, label: fa_icon('qq') %>
          <%= profile_form.input :weibo, label: fa_icon('weibo') %>
          <%= profile_form.input :wechat, label: fa_icon('wechat') %>
        </div>
      <% end %>
      <div class='center'>
        <%= f.button :submit, t('action.submit'), class: 'button' %>
      </div>
    <% end %>
  </div>
<% end %>
