<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :main_block do %>
  <div class='devise-form'>
    <%= simple_form_for @user do |f| %>
      <div class='center'>
        <%= image_tag @user.avatar_url, size: '100x100', id: 'preview-avatar' %>
        <%= f.simple_fields_for :profile, f.object.profile.present? ? f.object.profile : f.object.build_profile do |profile_form| %>
          <%= profile_form.input :avatar, id: 'upload-avatar' %>
        <% end %>
      </div>
      <%= f.input :name %>
      <%= f.simple_fields_for :profile, f.object.profile.present? ? f.object.profile : f.object.build_profile do |profile_form| %>
        <div class='row'>
          <div class='col-md-6'>
            <%= profile_form.input :gender %>
          </div>
          <div class='col-md-6'>
            <%= profile_form.input :title %>
          </div>
        </div>
        <div class='row'>
          <div class='col-md-6'>
            <%= profile_form.input :country %>
          </div>
          <div class='col-md-6'>
            <%= profile_form.input :city %>
          </div>
        </div>
        <div class='center'>
          <%= profile_form.input :qq, label: fa_icon('qq') %>
          <%= profile_form.input :weibo, label: fa_icon('weibo') %>
          <%= profile_form.input :wechat, label: fa_icon('wechat') %>
        </div>
      <% end %>
      <div class='center'>
        <%= f.button :submit, t('action.submit'), class: 'button' %>
      </div>
    <% end %>
  </div>
<% end %>
