<% content_for :left_column do %>
  <div class='panel panel-default box-shadow'>
    <div class='panel-body sidenav'>
      <ul class='nav nav-pills nav-stacked'>
        <li role='presentation' class='<%= @category == 'profile' ? 'active' : '' %>'>
          <%= link_to t('user.edit.profile'), edit_user_path(@user, :profile) %>
        </li>
        <li role='presentation' class='<%= @category == 'experience' ? 'active' : '' %>'>
          <%= link_to t('user.edit.experience'), edit_user_path(@user, :experience) %>
        </li>
        <li role='presentation' class='<%= @category == 'achievement' ? 'active' : '' %>'>
          <%= link_to t('user.edit.achievement'), edit_user_path(@user, :achievement) %>
        </li>
      </ul>
    </div>
  </div>
<% end %>

<% content_for :center_column do %>
  <%= render "users/edit/#{@category}" %>
<% end %>
