<% content_for :title, t('action.edit')+t('activerecord.models.profile') %>

<% content_for :center_column do %>
  <div class='devise-edit-form'>
    <%= simple_form_for @user do |f| %>
      <div class='row'>
        <div class='col-md-4'>
          <%= f.simple_fields_for :profile do |profile_form| %>
            <%=
              render 'layouts/upload_image', form: profile_form,
              object: @user.profile, image_attribute_name: :avatar,
              default_image: 'logos/default_avatar.png'
            %>
          <% end %>
        </div>
        <div class='col-md-8'>
          <%= f.input :name, required: false %>
          <%= f.simple_fields_for :profile do |profile_form| %>
            <div class='row'>
              <div class='col-md-4'>
                <%= profile_form.input :gender, required: false %>
              </div>
              <div class='col-md-4'>
                <%= profile_form.input :title, required: false %>
              </div>
              <div class='col-md-4'>
                <%= profile_form.input :country %>
              </div>
            </div>
            <%= profile_form.input :signature %>
            <%= profile_form.input :bio %>
          <% end %>
          <div class='center'>
            <%= f.button :submit, t('action.submit'), class: 'btn btn-success' %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>
