<% content_for :main_block do %>
  <table class='table'>
    <thead>
      <tr>
        <th width="100"><%= t('user.full_name') %></th>
        <th width="200"><%= t('user.email') %></th>
        <th width="200"><%= t('user.join_time') %></th>
        <th width="100"><%= t('user.role') %></th>
        <% if current_user.super_admin? or current_user.admin? %>
          <th width="200"><%= t('global.operation') %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |u| %>
        <tr>
          <td>
            <a href="<%= user_path(u) %>"><%= u.full_name %></a>
          </td>
          <td><%= u.email %></td>
          <td><%= u.created_at %></td>
          <td><%= get_role_string u.role %></td>
          <% if current_user.super_admin? or current_user.admin? %>
            <td>
              <a href='#'><%= t('user.block') %></a>
              <a href='#'><%= t('global.delete') %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
