<% content_for :main_block do %>
  <table class='table'>
    <thead>
      <tr>
        <th width="200"><%= t('user.full_name') %></th>
        <th width="200"><%= t('user.email') %></th>
        <th width="200"><%= t('user.join_time') %></th>
        <th width="200"><%= t('user.role') %></th>
      </tr>
    </thead>
    <tbody>
      <% User.all.each do |u| %>
        <tr>
          <td>
            <a href="<%= user_path(u) %>"><%= u.full_name %></a>
          </td>
          <td><%= u.email %></td>
          <td><%= u.created_at %></td>
          <td><%= u.role %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
