<% if not Resource.all.empty? %>
<div id='feature-images-carousel' class='carousel slide' data-ride='carousel'>
  <ol class='carousel-indicators'>
    <% counter = 0 %>
    <% Resource.all.each do |r| %>
      <% next if not r.image? %>
      <li data-target='#feature-images-carousel' data-slide-to='<%= counter %>' class='<%= 'active' if counter == 0 %>'></li>
      <% counter += 1 %>
    <% end %>
  </ol>

  <div class='carousel-inner' role='listbox'>
    <% counter = 0 %>
    <% Resource.all.each do |r| %>
      <% next if not r.image? %>
      <div class='item <%= 'active' if counter == 0 %>'>
        <a href='<%= url_for ResourcesHelper.filter_user([eval(r.app), r.user, r.resourceable, r]) %>'>
          <%= image_tag r.file.url, class: 'img-responsive center-block' %>
        </a>
      </div>
      <% counter += 1 %>
    <% end %>
  </div>

  <a class="left carousel-control" href="#feature-images-carousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#feature-images-carousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<% end %>
