<div class='features'>
  <div class='feature-summary'>
    Scrinium是一个科研信息管理平台。该平台负责规范化地管理科研工作中产生的大量信息。<br/>针对不同的科研机构或大学院系，Scrinium可以给出专门化的定制服务，最大限度地满足科研人员的需求。
  </div>
  <div class='feature-logos'>
    <dl>
      <dt>主要特性</dt>
      <dl>
        <div class='row'>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/interaction_logo.png', size: '80x80' %></li>
              <li class='feature-words'>互动</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/integration_logo.png', size: '80x80' %></li>
              <li class='feature-words'>集成</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/accuracy_logo.png', size: '80x80' %></li>
              <li class='feature-words'>精准</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/privacy_logo.png', size: '80x80' %></li>
              <li class='feature-words'>隐私</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/organized_logo.png', size: '80x80' %></li>
              <li class='feature-words'>有序</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/legacy_logo.png', size: '80x80' %></li>
              <li class='feature-words'>传承</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/friendly_logo.png', size: '80x80' %></li>
              <li class='feature-words'>友好</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/secure_logo.png', size: '80x80' %></li>
              <li class='feature-words'>安全</li>
            </ul>
          </div>
          <div class='col-md-4 feature-logo'>
            <ul class='clean-list'>
              <li><%= image_tag 'logos/extension_logo.png', size: '80x80' %></li>
              <li class='feature-words'>扩展</li>
            </ul>
          </div>
        </div>
      </dl>
    </dl>
  </div>
</div>
