<div class='panel panel-default'>
  <div class='panel-heading' id='notification-head-<%= notification.id %>'>
    <%= t('mailbox.notification') %><br/>
    <%= fa_icon('bell') if notification.is_unread? current_user %>
    <%= t('notification.subject') %>: <%= notification.subject %><br/>
    <%= t('notification.send_time') %>: <%= notification.created_at %>
  </div>
  <div class='panel-body'
    id='notification-body-<%= notification.id %>'
    data-read='<%= notification.is_read? current_user %>'
    style='display:none'>
    <div id='content' data-marked='false'><%= notification.body %></div>
    <div class='right'>
      <%=
        link_to t('action.delete'),
        user_delete_notification_path(current_user, notification),
        class: 'button btn-xs btn-danger', remote: true
      %>
    </div>
  </div>
</div>
