$('li#message-<%= @message.id %>').remove();
if ('<%= @action %>' === 'trash') {
  $('ul#trashed-message-list').prepend(
  "<li id='message-<%= @message.id %>'>" +
  "  <%= j render partial: 'message', locals: { message: @message } %>" +
  "</li>");
  $('div#message-head-<%= @message.id %>').click(function() {
    var message_body, message_head, message_id;
    message_head = $(this);
    message_id = message_head.attr('id').split('-')[2];
    message_body = $("div#message-body-" + message_id);
    message_body.toggle();
  });
}
