<% content_for :title, t('mailbox') %>

<% check_mailbox %>

<% content_for :left_column do %>
  <%= render 'left_column' %>
<% end %>

<% content_for :center_column do %>
  <div id='inbox'>
    <div class='alert alert-info' role='alert' style='display: none;' id='new-mail-notifier'>
      <%= t('has_new_mails', number: 0) %>
    </div>
    <ul class='clean-list' id='unread-message-list'>
      <% unread_messages.each do |message| %>
        <li id='message-<%= message.id %>'>
          <%= render 'message', message: message %>
        </li>
      <% end %>
    </ul>
    <ul class='clean-list' id='read-message-list'>
      <% read_messages.each do |message| %>
        <li id='message-<%= message.id %>'>
          <%= render 'message', message: message %>
        </li>
      <% end %>
    </ul>
    <ul class='clean-list' id='unread-notification-list'>
      <% unread_notifications.each do |notification| %>
        <li id='notification-<%= notification.id %>'>
          <%= render 'notification', notification: notification %>
        </li>
      <% end %>
    </ul>
    <ul class='clean-list' id='read-notification-list'>
      <% read_notifications.each do |notification| %>
        <li id='notification-<%= notification.id %>'>
          <%= render 'notification', notification: notification %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id='sentbox'>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>
            <li>
              <%=
                link_to fa_icon('pencil', text: t('action.write')+t('mailbox_message')),
                user_write_message_path, remote: true
              %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <div id='write-message-placeholder'></div>
    <ul class='clean-list' id='sent-message-list'>
      <% sent_messages.each do |message| %>
        <li id='message-<%= message.id %>'>
          <%= render 'message', message: message %>
        </li>
      <% end %>
    </ul>
  </div>
  <div id='trash'>
    <nav class='navbar navbar-default'>
      <div class='container-fluid'>
        <div class='collapse navbar-collapse'>
          <ul class='nav navbar-nav'>
            <li>
              <%=
                link_to fa_icon('eraser', text: t('action.clean_all')),
                user_empty_trash_path, remote: true
              %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <ul class='clean-list' id='trashed-message-list'>
      <% trashed_messages.each do |message| %>
        <li id='message-<%= message.id %>'>
          <%= render 'message', message: message %>
        </li>
      <% end %>
    </ul>
    <ul class='clean-list' id='trashed-notification-list'>
      <% trashed_notifications.each do |notification| %>
        <li id='notification-<%= notification.id %>'>
          <%= render 'notification', notification: notification %>
        </li>
      <% end %>
    </ul>
  </div>
<% end %>
