if ('<%= @box %>' === 'inbox') {
  $('ul#read-message-list').prepend(
  "<li id='message-<%= @message.id %>'>" +
  "  <%= j render partial: 'message', locals: { message: @message } %>" +
  "</li>");
} else if ('<%= @box %>' === 'sentbox') {
  $('ul#sent-message-list').prepend(
  "<li id='message-<%= @message.id %>'>" +
  "  <%= j render partial: 'message', locals: { message: @message } %>" +
  "</li>");
}
$('ul#trashed-message-list li#message-<%= @message.id %>').remove();
expand_message();
