<ul class="page-breadcrumb breadcrumb">
  <li>
    <%= link_to "控制面板", admin_root_path %>
    <i class="fa fa-circle"></i>
  </li>
  <% if defined?(parent) and parent? %>
    <li>
      <%= link_to parent.class.model_name.human, parent_path %>
      <i class="fa fa-circle"></i>
    </li>
  <% end %>
  <li>
    <%= link_to resource_class.model_name.human, collection_path %>
    <strong>
      <%= t("action.#{action_name}") %>
    </strong>
  </li>
</ul>
<%= render 'admin/application/message' %>
