<%= render 'search_items' %>

<!--<div class="pull-right">-->
  <!--<%= paginate collection %>-->
<!--</div>-->


<div class="table-scrollable">
  <table class="table table-bordered table-striped table-hover" id="collection_table">
    <thead>
    <tr class="active">
      <% attributes.each do |attr| %>
        <th scope="col">
          <%= resource_class.human_attribute_name(attr) %>
        </th>
      <% end %>
      <th scope="col" style="min-width:150px !important">
        <%= "操作" %>
      </th>
    </tr>
    </thead>
    <tbody>
    <% collection.each do |resource| %>
      <tr>
        <% attributes.each do |attr| %>
          <% if respond_to?("#{attr}_text".to_sym) %>
            <td>
              <%= self.send("#{attr}_text".to_sym) %>
            </td>
          <% elsif resource.respond_to?("#{attr}_text".to_sym) %>
            <td>
              <%= resource.send("#{attr}_text".to_sym) %>
            </td>
          <% elsif resource.respond_to?("#{attr}_title".to_sym) %>
            <td>
              <%= resource.send("#{attr}_title".to_sym) %>
            </td>
          <% elsif resource.respond_to?("#{attr}_name".to_sym) %>
            <td>
              <%= resource.send("#{attr}_name".to_sym) %>
            </td>
          <% elsif resource.send(attr).is_a?(Time) %>
            <td>
              <%= resource.send(attr).try(:strftime, '%Y年%m月%d %H时%M分%S秒') %>
            </td>
          <% elsif resource.send(attr).is_a?(ImageUploader) %>
            <td>
              <%= image_tag(resource.send(attr + "_url" , :thumb), height: '21px') %>
            </td>
          <% elsif resource.send(attr).is_a?(CarrierWave::Uploader::Base) %>
            <td>
              <%= resource.send(attr).is_a?(CarrierWave::Uploader::Base) %>
              <%= image_tag(resource.send(attr + "_identify")) %>
            </td>
          <% else %>
            <td>
              <%= resource.send(attr).to_s.truncate(20) %>
            </td>
          <% end %>
        <% end %>
        <td>


          <%= link_to t("action.show"), resource_path(resource), class: 'btn btn-xs blue' %>

          <%= link_to t("action.edit"), edit_resource_path(resource), class: 'btn btn-xs yellow' %>
          <%= link_to t("action.delete"), resource_path(resource), :method => :delete, data: {confirm: t("action.delete")}, class: 'btn btn-xs red' %>
        </td>
      </tr>
    <% end %>
    </tbody>
    <tfoot>
    <tr class="active">
      <% attributes.each do |attr| %>
        <th>
          <%= resource_class.human_attribute_name(attr) %>
        </th>
      <% end %>
      <th>
        <%= "操作" %>
      </th>
    </tr>
    </tfoot>
  </table>
</div>
<%= paginate collection %>
<br/>
<div class="table-toolbar">
  <div class="btn-group">
    <%= link_to new_resource_path, class: 'btn green' do %>
      <%= t("action.add") %>
      <i class="fa fa-plus"></i>
    <% end %>
  </div>
</div>
