<div class="page-sidebar navbar-collapse collapse">

  <ul class="page-sidebar-menu page-sidebar-menu-hover-submenu" data-slide-speed="200" data-auto-scroll="true" data-keep-expanded="true">
    <li class="heading">
      <h3>管理列表</h3>
    </li>
    <li>
      <%= link_to admin_users_path do %>
        <i class="fa fa-list-alt fa-1"></i>
        <span class="title">用户管理</span>
      <% end %>
      <ul class="sub-menu">
        <li>
          <%= link_to admin_users_path do %>
            <i class="fa fa-list"></i>
            用户列表
          <% end %>
        </li>

        <li>
          <%= link_to admin_profiles_path do %>
            <i class="fa fa-list"></i>
            用户信息列表
          <% end %>
        </li>

      </ul>
    <li>


    <li>
      <%= link_to admin_organizations_path do %>
        <i class="fa fa-list-alt fa-1"></i>
        <span class="title">机构管理</span>
      <% end %>
      <ul class="sub-menu">
        <li>
          <%= link_to admin_organizations_path do %>
            <i class="fa fa-list"></i>
            机构管理
          <% end %>
        </li>

        <li>
          <%= link_to admin_licenses_path do %>
            <i class="fa fa-list"></i>
            license 管理
          <% end %>
        </li>

        <li>
          <%= link_to admin_memberships_path do %>
            <i class="fa fa-list"></i>
            用户加入机构/群组管理
          <% end %>
        </li>

      </ul>
    <li>


    <li>
      <%= link_to admin_groups_path do %>
        <i class="fa fa-list-alt fa-1"></i>
        <span class="title">群组管理</span>
      <% end %>
      <ul class="sub-menu">
        <li>
          <%= link_to admin_groups_path do %>
            <i class="fa fa-list"></i>
            群组管理
          <% end %>
        </li>

        <li>
          <%= link_to admin_memberships_path do %>
            <i class="fa fa-list"></i>
            用户加入机构/群组管理
          <% end %>
        </li>
      </ul>
    <li>

    <li>
      <%= link_to admin_groups_path do %>
        <i class="fa fa-list-alt fa-1"></i>
        <span class="title">内容管理</span>
      <% end %>
      <ul class="sub-menu">
        <li>
          <%= link_to admin_comments_path do %>
            <i class="fa fa-list"></i>
            评论管理
          <% end %>
        </li>

        <li>
          <%= link_to admin_collections_path do %>
            <i class="fa fa-list"></i>
            收藏管理
        <% end %>
        </li>

        <li>
          <%= link_to admin_posts_path do %>
            <i class="fa fa-list"></i>
            post管理
          <% end %>
        </li>
        <li>
          <%= link_to admin_resources_path do %>
            <i class="fa fa-list"></i>
            资源管理
          <% end %>
        </li>

      </ul>
    <li>






  </ul>
</div>
