<div class='panel panel-default'>
  <div class='panel-heading'>
    <%= t('user.edit.profile') %>
  </div>
  <div class='panel-body'>
    <%= simple_form_for(@group) do |f| %>
      <%= render 'layouts/upload_image', form: f,
        object: @group, image_attribute_name: :logo, default_image: 'logos/default_group_logo.png' %>
      <div class='row'>
        <div class='col-md-8'>
          <%= f.input :name, autofocus: true, required: false %>
        </div>
        <div class='col-md-4'>
          <%= f.input :short_name, required: false %>
        </div>
      </div>
      <div class='row'>
        <div class='col-md-8'>
          <%=
            f.input :category_list,
            collection: @group.categories.map { |t| t.name },
            input_html: {
              class: 'use-select2-multiple-tags',
              multiple: 'multiple'
            }
          %>
        </div>
        <div class='col-md-4'>
          <%= f.input :status %>
        </div>
      </div>
      <%= f.input :description, as: :text %>

      <div class='horizontal-centered'>
        <%= f.button :submit, t('action.submit'), class: 'btn btn-success' %>
      </div>
    <% end %>
  </div>
</div>
<script>
  $(function() {
    $('#group_description').froalaEditor({
      height: '300'
    })
  })
</script>
