<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @experience.user_id %>
</p>

<p>
  <strong>Content:</strong>
  <%= @experience.content %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
