<div class='resource-form'>
  <div style='margin-bottom: 1em;'>
    <% if @resource.id %>
      <%= image_tag @resource.file.url, class: 'center resizable', style: 'padding-bottom: 1em; border-radius: 10px;' %>
    <% else %>
      <%= form_for [ @app, @resourceable, @resource ],
        html: { multipart: true, class: 'dropzone', id: 'upload-file' } do |f| %>
      <% end %>
    <% end %>
  </div>
  <%= simple_form_for [ @app, @resourceable, @resource ], method: :patch do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.input :name %>
    <%=
      f.input :category_list,
      collection: @resource.categories.map { |t| t.name },
      input_html: {
        class: 'use-select2-multiple-tags',
        multiple: 'multiple'
      }
    %>
    <%= f.input :description, as: :text %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
