<div class='resource-form'>
  <%= simple_form_for resource, remote: true do |f| %>
    <%=
      render 'layouts/upload_file', form: f,
      object: resource, file_attribute_name: :file
    %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%= f.hidden_field :folder_id, value: resource.folder_id %>
    <div class='center'>
      <%= f.button :submit, t('action.submit'), class: 'button' %>
    </div>
  <% end %>
</div>
