<div class='resource-form'>
  <%= simple_form_for resource, remote: true do |f| %>
    <%=
      render 'layouts/upload_file', form: f,
      object: resource, file_attribute_name: :file
    %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <% [ :folder_id, :resourceable_type, :resourceable_id ].each do |attribute| %>
      <%= f.hidden_field attribute %>
    <% end %>
    <div class='center'>
      <%= f.button :submit, t('action.submit'), class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>
