<ul class='left-side-list'>
  <li>
    <%= t('global.contact') %>:
    <%= link_to @resource.user.name, @resource.user %>
  </li>
  <li>
    <%= t('resource.size') %>:
    <%= number_to_human_size @resource.file.file.size %>
  </li>
  <li>
    <%=
      link_to fa_icon('download', text: t('action.download')),
      @resource.file.url
    %>
    <% if policy(@resource).update? %>
      <%= link_to fa_icon('edit', text: t('action.edit')), [ :edit, @resource ] %>
    <% end %>
    <% if policy(@resource).destroy? %>
      <%=
        link_to fa_icon('trash', text: t('action.delete')), @resource, method: :delete,
        data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium.resource')) }
      %>
    <% end %>
  </li>
  <li>
    <%= render 'collections/collect_button', collectable: @resource %>
  </li>
</ul>
