<ul class='left-side-list'>
  <li>
    <%= t('resource.size') %>:
    <%= number_to_human_size @resource.file_file_size %>
  </li>
  <% if current_user and current_user == @resource.user %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [ :edit, current_user, @resource ]
      %>
      <%=
        link_to fa_icon('trash', text: t('action.delete')),
        [ current_user, @resource ],
        method: :delete,
        data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium.resource')) }
      %>
    </li>
  <% end %>
  <li>
    <%= render partial: 'collections/collect_button', locals: { collectable: @resource } %>
  </li>
</ul>
