<% app ||= main_app %>
<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('global.name') %></th>
      <th width="100"><%= t('global.owner') %></th>
      <th width="200"><%= t('global.create_time') %></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |r| %>
      <tr>
        <td>
          <%= link_to r.name, [ app, r.resourceable, r ] %>
        </td>
        <td>
          <%= link_to r.user.name, main_app.user_path(r.user) %>
        </td>
        <td><%= r.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
