<table class='table table-striped'>
  <thead>
    <tr>
      <th width="100"><%= t('activerecord.attributes.resource.name') %></th>
      <th width="100"><%= t('activerecord.attributes.resource.user') %></th>
      <th width="200"><%= t('activerecord.attributes.resource.created_at') %></th>
    </tr>
  </thead>
  <tbody>
    <% resources.each do |resource| %>
      <tr>
        <td>
          <%= link_to resource.name, [ resource.resourceable, resource ] %>
        </td>
        <td>
          <%= link_to resource.user.name, resource.user %>
        </td>
        <td><%= resource.created_at %></td>
      </tr>
    <% end %>
  </tbody>
</table>
