<% content_for :title, @resource.name %>
<% add_breadcrumb @resource.name, resource_path(@resource) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <dl class='resource-show'>
    <dt><%= @resource.name %></dt>
    <dd>
      <div class='center'>
        <%= fa_icon 'spinner spin', style: 'font-size: 100px;', id: 'spinner' %>
        <%= preview @resource %>
      </div>
      <div class='description' style='margin-top: 1em;'>
        <%= @resource.description %>
      </div>
    </dd>
  </dl>
  <dl>
    <dt></dt>
    <dd><%= render 'comments/list', commentable: @resource %></dd>
  </dl>
<% end %>
