<div class='survey-form'>
  <%= simple_form_for(@survey) do |f| %>
    <%= f.hidden_field :user_id, value: @current_user.id %>

    <%=
      f.input :title,
      label: false,
      placeholder: t('global.title')
    %>
    <%=
      f.input :preface,
      label: false,
      placeholder: t('survey.placeholder.preface')
    %>

    <%= f.simple_fields_for :questions, @survey.questions.sort_by { |x| x.order } do |g| %>
      <%= render 'question_field', f: g %>
    <% end %>

    <div class='right'>
      <%= link_to_add_field t('action.add')+t('scrinium.question'), f, :questions, class: 'button' %>
      <% if @survey.id %>
        <%= f.button :submit, t('action.edit'), class: 'button' %>
      <% else %>
        <%= f.button :submit, t('action.add'), class: 'button' %>
      <% end %>
    </div>
  <% end %>
</div>
