<fieldset>
  <div class='question-form'>
    <div class='row'>
      <div class='col-md-9'>
        <%=
          f.input :content,
          label: false,
          placeholder: t('scrinium.question')
        %>
      </div>
      <div class='col-md-3'>
        <%=
          f.input :question_type,
          label:false,
          collection: Question.question_types,
          selected: Question.question_types[f.object.question_type]
        %>
      </div>
    </div>

    <%= f.simple_fields_for :answers do |g| %>
      <%= render 'answer_field', f: g %>
    <% end %>

    <div class='add-answer right'>
      <%= link_to_add_field t('action.add')+t('scrinium.answer'), f, :answers, class: 'button' %>
      <%= link_to t('action.delete'), '#', class: 'btn btn-danger remove_field' %>
    </div>
  </div>
</fieldset>
