<fieldset class='experiment-action-field'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= f.input :name, required: true %>
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :country, required: true %>
        </div>
        <div class='col-md-6'>
          <%= f.input :city, required: true %>
        </div>
        <div class='col-md-6'>
          <%= f.input :district, required: true %>
        </div>
        <div class='col-md-6'>
          <%= f.input :zip_code, required: true %>
        </div>
      </div>
      <%= f.input :street, required: true %>
      <div class='right'>
        <%= link_to t('action.delete'), '#', class: 'button btn-xs btn-danger remove_field' %>
      </div>
    </div>
  </div>
</fieldset>
