<fieldset class='experiment-action-field'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= f.input :name %>
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :country %>
        </div>
        <div class='col-md-6'>
          <%= f.input :city %>
        </div>
        <div class='col-md-6'>
          <%= f.input :district %>
        </div>
        <div class='col-md-6'>
          <%= f.input :zip_code %>
        </div>
      </div>
      <%= f.input :street %>
      <div class='right'>
        <%= link_to t('action.delete'), '#', class: 'button btn-xs btn-danger remove_field' %>
      </div>
    </div>
  </div>
</fieldset>
