<fieldset class='experiment-action-field'>
  <div class='panel panel-default'>
    <div class='panel-heading'>
      <%= f.input :name, label: t('address.name'), required: true %>
    </div>
    <div class='panel-body'>
      <div class='row'>
        <div class='col-md-6'>
          <%= f.input :country, label: t('address.country'), required: true %>
        </div>
        <div class='col-md-6'>
          <%= f.input :city, label: t('address.city'), required: true %>
        </div>
        <div class='col-md-6'>
          <%= f.input :district, label: t('address.district'), required: true %>
        </div>
        <div class='col-md-6'>
          <%= f.input :zip_code, label: t('address.zip_code'), required: true %>
        </div>
      </div>
      <%= f.input :street, label: t('address.street'), required: true %>
      <div class='right'>
        <%= link_to t('action.delete'), '#', class: 'button btn-xs btn-danger remove_field' %>
      </div>
    </div>
  </div>
</fieldset>
