<div class='feedback-form'>
  <dl>
    <dt><%= @survey.title %></dt>
    <dd>
      <div class='preface'>
        <%= @survey.preface %>
      </div>
      <%= simple_form_for [ @survey, @feedback ] do |f| %>
        <ol>
          <%= f.simple_fields_for :answers, @feedback.answers.sort_by { |x| x.question.order } do |g| %>
            <%= render 'answer_field', f: g %>
          <% end %>
        </ol>
        <div class='center'>
          <%= f.button :submit, t('action.submit'), class: 'button' %>
        </div>
      <% end %>
    </dd>
  </dl>
</div>
