<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @journal.name %>
</p>

<p>
  <strong>Short name:</strong>
  <%= @journal.short_name %>
</p>

<%= link_to 'Edit', edit_journal_path(@journal) %> |
<%= link_to 'Back', journals_path %>
