<div class='reference-form'>
  <%= simple_form_for @reference do |f| %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
    <div class='row' id='reference-type-selection'>
      <div class='col-md-4'></div>
      <div class='col-md-4'>
        <%= f.input :reference_type %>
      </div>
    </div>
    <div id='article-form' style='display: none;'>
      <%= render 'article_form', f: f %>
    </div>
    <div id='book-form' style='display: none;'>
      <%= render 'book_form', f: f %>
    </div>
    <div id='buttons' style='display: none;'>
      <%= f.file_field :file, class: 'pull-left' %>
      <%= f.button :submit, t('action.submit'), class: 'button pull-right' %>
    </div>
  <% end %>
</div>
