<div class='reference-form'>
  <%= simple_form_for @reference do |f| %>
    <%= f.hidden_field :creator_id, value: current_user.id %>
    <%=
      f.input :authors,
      collection: @reference.authors,
      input_html: {
        class: 'use-select2-multiple-tags',
        multiple: 'multiple'
      }
    %>
    <%= f.input :title %>
    <div class='row'>
      <div class='col-md-4'>
        <%= f.input :reference_type %>
      </div>
      <div class='col-md-4'>
        <div id='select-journal'>
          <%= f.hidden_field :publicable_type, value: 'Journal' %>
          <% if @reference.publicable %>
            <%=
              f.input :publicable_id,
              label_method: :abbreviation,
              value_method: :id,
              collection: [@reference.publicable],
              input_html: { id: 'input-journal-abbreviation' }
            %>
          <% else %>
            <%=
              f.input :publicable_id, as: :select,
              input_html: { id: 'input-journal-abbreviation' }
            %>
          <% end %>
        </div>
      </div>
      <div class='col-md-4'>
        <%= f.input :doi %>
      </div>
    </div>
    <div class='row'>
      <div class='col-md-3'>
        <%= f.input :year %>
      </div>
      <div class='col-md-3'>
        <%= f.input :volume %>
      </div>
      <div class='col-md-3'>
        <%= f.input :issue, disabled: ( @reference.publicable and not @reference.publicable.issued ) %>
      </div>
      <div class='col-md-3'>
        <%= f.input :pages %>
      </div>
    </div>
    <%= f.input :abstract, as: :text %>
    <%= f.file_field :file, class: 'float-left' %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
