<table class='table table-striped'>
  <thead>
    <tr>
      <th width='100'><%= t('reference.authors') %></th>
      <th width='200'><%= t('reference.title') %></th>
      <th width='80'><%= t('reference.journal') %></th>
      <th width='20'><%= t('reference.year') %></th>
    </tr>
  </thead>
  <tbody>
    <% references.each do |r| %>
      <tr>
        <td><%= join_authors r, false %></td>
        <td><%= link_to r.title, r %></td>
        <td><%= r.publicable.abbreviation %></td>
        <td><%= r.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
