<table class='table table-striped'>
  <thead>
    <tr>
      <th width='100'><%= t('activerecord.attributes.reference.authors') %></th>
      <th width='200'><%= t('activerecord.attributes.reference.title') %></th>
      <th width='80'><%= t('activerecord.attributes.reference.publisher_id') %></th>
      <th width='20'><%= t('activerecord.attributes.reference.year') %></th>
    </tr>
  </thead>
  <tbody>
    <% references.each do |reference| %>
      <tr>
        <td><%= join_authors reference, false %></td>
        <td><%= link_to reference.title, reference %></td>
        <td><%= reference.publisher.abbreviation %></td>
        <td><%= reference.year %></td>
      </tr>
    <% end %>
  </tbody>
</table>
