<div class='sticky-posts'>
  <% posts.select { |x| x.sticky }.each do |post| %>
    <div class='panel panel-danger' id="post-<%= post.id %>">
      <div class='panel-heading'>
        <%= link_to avatar(post.user, size: :small), post.user %>
        <%= timeago post.created_at %>
        <% if policy(post).manage? %>
          <div class='pull-right'>
            <%= check_box_tag "sticky-#{post.id}", '', post.sticky %> <%= t('activerecord.attributes.post.sticky') %>
            <%= link_to '', [ :change_sticky, post ], id: "change-sticky-#{post.id}", remote: true %>
          </div>
        <% end %>
      </div>
      <div class='panel-body'>
        <%= link_to post.postable.title, post.postable %>
        <div class='pull-right'>
          <ul class='horizontal-clean-list'>
            <li><%= fa_icon('comment-o') %> <%= post.postable.comments.size %></li>
            <li><%= fa_icon('star-o') %> <%= post.postable.collections.size %></li>
        </div>
    </div>
  <% end %>
</div>
<div class='normal-posts'>
  <% posts.select { |x| not x.sticky }.each do |post| %>
    <div class='panel panel-default' id="post-<%= post.id %>">
      <div class='panel-heading'>
        <%= link_to avatar(post.user, size: :small), post.user %>
        <%= timeago post.created_at %>
        <% if policy(post).manage? %>
          <div class='pull-right'>
            <%= check_box_tag "sticky-#{post.id}", '', post.sticky %> <%= t('activerecord.attributes.post.sticky') %>
            <%= link_to '', [ :change_sticky, post ], id: "change-sticky-#{post.id}", remote: true %>
          </div>
        <% end %>
      </div>
      <div class='panel-body'>
        <%= link_to post.postable.title, post.postable %>
        <div class='pull-right'>
          <ul class='horizontal-clean-list'>
            <li><%= fa_icon('comment-o') %> <%= post.postable.comments.size %></li>
            <li><%= fa_icon('star-o') %> <%= post.postable.collections.size %></li>
        </div>
      </div>
    </div>
  <% end %>
</div>
