<div class='research-record-form'>
  <%= simple_form_for [current_user, @research_record] do |f| %>
    <%= f.hidden_field :user_id, value: current_user.id %>
    <%=
      f.input :title,
      label: t('research_record.title'),
      autofocus: true,
      required: true,
      input_html: {
        autocapitalize: 'off',
        autocorrect: 'none',
        spellcheck: 'false'
      }
    %>
    <div class='row'>
      <div class='col-md-2'>
        <%=
          f.input :privacy,
          label: t('privacy'),
          required: true,
          collection: ResearchRecord.privacies,
          selected: ResearchRecord.privacies[@research_record.privacy]
        %>
      </div>
      <div class='col-md-6' id='select-groups'>
        <%=
          f.association :groups,
          label: t('research_record.public_groups'),
          required: true,
          label_method: :name,
          value_method: :id,
          collection: @research_record.groups,
          input_html: {
            id: 'input-group-name-for-user',
            data: { user_id: current_user.id }
          }
        %>
      </div>
    </div>
    <%=
      f.input :content,
      label: t('research_record.content'),
      required: true,
      as: :text
    %>
    <ul class='list-inline right'>
      <li>
        <%=
          link_to t('action.preview'), '#',
          id: 'research-record-preview',
          class: 'button'
        %>
      </li>
      <li>
        <%= f.button :submit, t('action.save'), class: 'button' %>
      </li>
      <li>
        <% if content_for(:title) == t('research_record.edit') %>
          <%= f.button :submit, t('action.edit'), class: 'button' %>
        <% else %>
          <%= f.button :submit, t('action.add'), class: 'button' %>
        <% end %>
      </li>
    </ul>
  <% end %>
</div>

<!-- Preview placeholder -->
<div class="modal fade" id='research-record-preview'>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header"></div>
      <div class="modal-body"></div>
    </div>
  </div>
</div>
