<ul class='left-side-list'>
  <li>
    <%=
      link_to avatar(@research_record.user, :medium),
      user_path(@research_record.user)
    %>
    </li>
  <li><%= t('global.create_time')+': '+@research_record.created_at.to_s %></li>
  <li><%= t('action.edit_time')+': '+@research_record.updated_at.to_s %></li>
  <% if current_user and current_user == @research_record.user %>
    <li>
      <%=
        link_to fa_icon('edit', text: t('action.edit')),
        [:edit, current_user, @research_record]
      %>
      <%=
        link_to fa_icon('trash', text: t('action.delete')),
        [current_user, @research_record],
        method: :delete,
        data: { confirm: t('message.are_you_sure_to_delete?', thing: t('scrinium.research_record')) }
      %>
    </li>
  <% end %>
  <% if @research_record.versions.size > 0 %>
    <li>
      <%=
        link_to "#{t('research_record.version_number')}: #{@research_record.versions.size}",
        [@research_record.user, @research_record, :versions]
      %>
    </li>
  <% end %>
</ul>
