<% show_author = true if local_assigns[:show_author].nil? %>

<table class='research-records'>
  <thead>
    <tr>
      <th width='200'><%= t('research_record.title') %></th>
      <% if show_author %>
        <th width='100'><%= t('research_record.author') %></th>
      <% end %>
      <th width='200'><%= t('global.create_time') %></th>
      <th width='100'><%= t('research_record.browse_count') %></th>
    </tr>
  </thead>
  <tbody>
    <% research_records.each do |r| %>
    <% if not is_same_user?(r.user) and not is_in_groups?(r.groups) and
          ResearchRecord::PrivacyTypes[t('privacy_types.public')] != r.privacy %>
      <% next %>
    <% end %>
      <tr
        <% if r.draft %>
          class='research-record-draft'
        <% end %>
      >
        <td><%= link_to "《#{r.title}》", research_record_path(r) %></td>
        <% if show_author %>
          <td><%= link_to r.user.name, user_path(r.user) %></td>
        <% end %>
        <td><%= r.created_at %></td>
        <td><%= r.impressionist_count filter: :session_hash %></td>
      </tr>
    <% end %>
  </tbody>
</table>
