<dl>
  <dt><%= t('scrinium.engines') %></dt>
  <dd>
    <%= render 'licenses/table_list', licenses: @organization.licenses %>
  </dd>
</dl>
<dl>
  <dt><%= t('action.manage')+t('organization.members') %></dt>
  <dd>
    <div class='row'>
      <div class='col-md-3 col-sm-2'></div>
      <div class='col-md-6 col-sm-8'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <%= fa_icon('hand-spock-o', text: t('action.invite')+t('organization.member')) %>
          </div>
          <div class='panel-body'>
            <!-- <div class="form-group select">
              <select id="input-user-name" class="invite-user select form-control select2-hidden-accessible">
                <option value=""></option>
              </select>
            </div> -->
            <%= render 'memberships/invite_button', host: @organization %>
          </div>
        </div>
      </div>
    </div>
  </dd>
</dl>
