<dl>
  <dt><%= t('engine') %></dt>
  <dd>
    <div class='pull-right'>
      <%=
        link_to fa_icon('plus-square-o', text: t('engine')),
        new_license_path(organization_id: @organization.id),
        id: 'add-engine', style: 'display: none;'
      %>
    </div>
    <%= render 'licenses/table_list', licenses: @organization.licenses %>
  </dd>
</dl>
<dl>
  <dt><%= t('action.manage')+t('organization.member') %></dt>
  <dd>
    <div class='row'>
      <div class='col-md-3 col-sm-2'></div>
      <div class='col-md-6 col-sm-8'>
        <div class='panel panel-default'>
          <div class='panel-heading'>
            <%= fa_icon('hand-spock-o', text: t('action.invite')+t('organization.member')) %>
          </div>
          <div class='panel-body'>
            <%= render 'memberships/invite_button', host: @organization %>
          </div>
        </div>
      </div>
    </div>
    <%= render 'memberships/list', host: @organization %>
  </dd>
</dl>
