<div class='organization-form'>
  <%= simple_form_for @organization do |f| %>
    <%= f.hidden_field :parent_id, value: @organization.parent_id %>
    <%=
      render 'layouts/upload_image', form: f,
      object: @organization, image_attribute_name: :logo,
      default_image: 'logos/default_organization_logo.png'
    %>
    <%= f.input :name, autofocus: true %>
    <div class='row'>
      <div class='col-md-8'>
        <%= f.input :short_name, required: true %>
      </div>
      <div class='col-md-4'>
        <!-- TODO: 该列表应该只显示机构成员，而不是所有平台用户。 -->
        <%=
          f.input :admin_id, label: t('activerecord.attributes.organization.admin'),
          collection: [ @organization.admin_id ],
          input_html: { id: 'input-user-name' }
        %>
      </div>
    </div>
    <%= f.input :description, as: :text %>
    <%= f.simple_fields_for :addresses, @organization.addresses.sort_by { |x| x.order } do |g| %>
      <%= render 'addresses/form', f: g %>
    <% end %>
    <%= link_to_add_field t('action.add')+t('activerecord.models.address'), f, :addresses, partial: 'addresses/form', class: 'button float-left' %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
