<div class='organization-form'>
  <%= simple_form_for @organization do |f| %>
    <h3><%= t('organization.add') %></h3>
    <%= f.input :name, label: t('organization.name'), autofocus: true, required: true, input_html: { autocapitalize: 'off', autocorrect: 'none', spellcheck: 'false' } %>
    <%= f.input :short_name, label: t('organization.short_name'), required: true, input_html: { autocapitalize: 'off', autocorrect: 'none', spellcheck: 'false' } %>
    <%= f.button :submit, t('global.add'), class: 'button right' %>
  <% end %>
</div>
