<div class='organization-form'>
  <%= simple_form_for @organization do |f| %>
    <%=
      image_tag 'medium/default_avatar.png',
      size: '100x100',
      id: 'preview-avatar'
    %>
    <%=
      f.file_field :logo,
      required: true,
      id: 'upload-avatar'
    %>
    <%= f.input :name, label: t('organization.name'), autofocus: true, required: true, input_html: { autocapitalize: 'off', autocorrect: 'none', spellcheck: 'false' } %>
    <%= f.input :short_name, label: t('organization.short_name'), required: true, input_html: { autocapitalize: 'off', autocorrect: 'none', spellcheck: 'false' } %>
    <%= f.input :description, label: t('organization.description'), required: true, as: :text %>
    <%= f.simple_fields_for :addresses, @organization.addresses.sort_by { |x| x.order } do |g| %>
      <%= render 'addresses/form', f: g %>
    <% end %>
    <%= link_to_add_field t('action.add')+t('scrinium.address'), f, :addresses, partial: 'addresses/form', class: 'button float-left' %>
    <%= f.button :submit, t('action.submit'), class: 'button float-right' %>
  <% end %>
</div>
