<ul class='left-side-list'>
  <li><%= logo @organization, :medium %></li>
  <li><%= @organization.name %></li>
  <% if is_super_admin_or_admin?(current_user) %>
    <li><%= link_to fa_icon('edit', text: t('action.edit')), edit_organization_path(@organization) %></li>
  <% end %>
  <% if is_super_admin?(current_user) %>
    <li>
      <%=
        link_to fa_icon('plus-square', text: t('action.add')+t('scrinium.suborganization')),
        new_organization_path(organization_id: @organization)
      %>
    </li>
  <% end %>
  <li><%= fa_icon('users', text: t('organization.people_number'))+': '+@organization.users.size.to_s %></li>
</ul>
