<% content_for :main_block do %>
  <table class='table'>
    <thead>
      <tr>
        <th width="100"><%= t('organization.short_name') %></th>
        <th width="300"><%= t('organization.name') %></th>
        <th width="200"><%= t('organization.create_time') %></th>
      </tr>
    </thead>
    <tbody>
      <% Organization.all.each do |o| %>
        <tr>
          <td>
            <%= link_to o.short_name, organization_path(o) %>
          </td>
          <td><%= o.name %></td>
          <td><%= o.created_at %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
  <% if current_user.super_admin? %>
    <%= link_to t('organization.add'), new_organization_path, class: 'button right' %>
  <% end %>
<% end %>