<% content_for :title, t('organization.profile') %>
<% add_breadcrumb @organization.short_name, organization_path(@organization) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('organization.description') %></dt>
    <dd><%= markdown @organization.description %></dd>
  </dl>
  <dl>
    <dt><%= t('scrinium.suborganization') %></dt>
    <dd>
      <ul class='suborganizations'>
        <% @organization.suborganizations.each do |s| %>
          <li><%= link_to s.name, organization_path(s) %></li>
        <% end %>
      </ul>
    </dd>
  </dl>
<% end %>
