<% content_for :title, t('organization.profile') %>
<% add_breadcrumb @organization.short_name, organization_path(@organization) %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <dl>
    <dt><%= t('organization.description') %></dt>
    <dd><%= markdown @organization.description %></dd>
  </dl>
  <dl class='research-teams'>
    <dt><%= t('scrinium.research_team') %></dt>
    <dd>
      <div class='row'>
        <% @organization.research_teams.each do |team| %>
          <div class='col-md-6 col-sm-12 research-team-entry'>
            <%= link_to team.name, [@organization, team] %>
          </div>
        <% end %>
      </div>
    </dd>
  </dl>
<% end %>
