<% content_for :title, t('organization.profile') %>

<% content_for :left_side do %>
  <%= render 'profile_left' %>
<% end %>

<% content_for :main_block do %>
  <h1><%= t('organization.description') %></h1>
  <p><%= @organization.description %></p>
  <h1><%= t('organization.research_team') %></h1>
  <% @organization.research_teams.each do |team| %>
    <%= link_to team.name, research_team_path(team) %>
  <% end %>
<% end %>