<% if user_signed_in? %>
  <% check_mailbox %>
  <li class='dropdown'>
    <div id='user-info' data-user-id=<%= current_user.id %>></div>
    <a id='user-menu' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>
      <%= avatar(current_user, size: '30x30') %>
    </a>
    <ul class='dropdown-menu'>
      <li style='border-bottom: 1px solid #ddd;'>
        <%= link_to fa_icon('search', text: t('action.explore') + t('activerecord.models.user')), users_path %>
      </li>
      <li>
        <%= link_to fa_icon('object-group', text: t('user.worktable')), current_user %>
      </li>
      <li>
        <%= link_to fa_icon('home', text: t('user.home_page')), show_home_page_user_path(current_user) %>
      </li>
      <li>
        <a href='<%= user_mailbox_index_path(current_user) %>'
          id='mailbox-menu-item'>
          <%= fa_icon('envelope', text: t('mailbox')) %>
          <% if has_unread? %>
            <span class='badge unread-mail-badge'><%= num_unread %></span>
          <% end %>
        </a>
      </li>
      <li>
        <%=
          link_to fa_icon('battery-1', text: t('devise.sign_out')),
          destroy_user_session_path, method: :delete, class: 'navbar-link'
        %>
      </li>
    </ul>
  </li>
<% end %>
