<nav class='navbar navbar-fixed-top navbar-default' role='navigation'>
  <div class='container'>
    <div class='navbar-header'>
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%=
        link_to raw("S<span style='font-size: 80%'>CRINIUM</span>"),
        root_url(subdomain: false), class: 'navbar-brand'
      %>
    </div>

    <div class='collapse navbar-collapse'>
      <ul class='nav navbar-nav navbar-right'>
        <li>
          <%=
            link_to t('activerecord.models.organization'),
            organizations_path, class: 'navbar-link'
          %>
        </li>
        <li>
          <%=
            link_to t('activerecord.models.group'),
            groups_path, class: 'navbar-link'
          %>
        </li>
        <!-- <li>
          <%=
            link_to t('news'),
            news_show_path, class: 'navbar-link'
          %>
        </li> -->
        <%= render 'layouts/navbar_library' %>
        <%= render 'layouts/navbar_user' %>
      </ul>
    </div>
  </div>
</nav>
