<div class='center'>
  <div class='fileinput fileinput-new' data-provides='fileinput'>
    <div class='fileinput-preview thumbnail'>
      <% image = object.send(image_attribute_name) %>
      <% if image.url %>
        <%= image_tag image.url %>
      <% else %>
        <%= image_tag default_image %>
      <% end %>
    </div>
    <div>
      <span class='btn btn-success btn-file'>
        <span class='fileinput-new'>
          <%= t("action.upload_#{image_attribute_name}") %>
        </span>
        <span class='fileinput-exists'>
          <%= t("action.change_#{image_attribute_name}") %>
        </span>
        <%= form.file_field image_attribute_name %>
      </span>
      <a href='#' class='btn btn-default fileinput-exists' data-dismiss='fileinput'>
        <%= t("action.delete_#{image_attribute_name}") %>
      </a>
    </div>
  </div>
</div>
