<html>
<head>
  <title>Scrinium</title>
  <%= stylesheet_link_tag    'admin', media: 'all', 'data-turbolinks-track' => false %>
  <%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>

  <%= csrf_meta_tags %>

</head>


<body class="page-header-fixed page-sidebar-closed-hide-logo page-sidebar-closed-hide-logo">

<div class="clearfix"></div>

<%= render 'admin/application/header' %>

<div class="page-container">

  <%= render 'admin/application/sidebar_menu' %>
  <div class="page-content-wrapper">
    <div class="page-content">
      <%= yield %>
    </div>
  </div>
</div>


<%= render "admin/application/footer" %>
<script>
  jQuery(document).ready(function() {
//    Metronic.init();
//    Layout.init(); // init layout
    $('select').select2()
  });
</script>

</body>

</html>
