<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) + ' - ' + t('global.scrinium') : t('global.scrinium') %></title>
  <!-- Set ROOT_PATH for querying in JavaScript. -->
  <script type="text/javascript" charset="utf-8">
    var ROOT_PATH = '<%= main_app.root_url %>';
    I18n = {}
    I18n.defaultLocale = '<%= I18n.default_locale %>';
    I18n.locale = '<%= I18n.locale %>';
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "all" } }
    });
  </script>
  <%= mathjax_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- 由于Turbolink导致我们无法在<head>中yield如下content -->
  <%= yield :javascript %>

  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div id="main-container" class="container">
    <%= render 'layouts/message' %>
    <%= render_breadcrumbs %>
    <%= render 'layouts/left_side' %>
    <%= render 'layouts/main_block' %>
  </div>

  <footer>
    Copyright &copy 2015 <%= t('global.shustone') %>
  </footer>
</body>
</html>
