<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title><%= content_for?(:title) ? yield(:title) + ' - ' + t('scrinium') : t('scrinium') %></title>

  <script type="text/javascript" src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML">
  </script>

  <script type="text/javascript" charset="utf-8">
    var ROOT_PATH = '<%= main_app.root_url %>';
    I18n = {}
    I18n.defaultLocale = '<%= I18n.default_locale %>';
    I18n.locale = '<%= I18n.locale %>';
  </script>
  <script type="text/x-mathjax-config">
    MathJax.Hub.Config({
      TeX: { equationNumbers: { autoNumber: "all" } }
    });
  </script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <!-- 由于Turbolink导致我们无法在<head>中yield如下content -->
  <%= yield :javascript %>

  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div id="main-container" class="container">
    <div class='alert alert-danger center' role='alert'>
      本平台正处于内测阶段，请您耐心使用，如遇问题请<a href='mailto:dongli.init@gmail.com'>反馈意见</a>！
    </div>
    <%= render 'layouts/message' %>
    <%#= render_breadcrumbs if request.path != '/' and not request.path =~ /\/d\/users\// %>
    <div class='row'>
      <%= render 'layouts/left_column' %>
      <%= render 'layouts/center_column' %>
      <%= render 'layouts/right_column' %>
    </div>
  </div>

  <% if is_root_domain? %>
    <footer>
      Copyright &copy 2015 <%= t('global.shustone') %>
    </footer>
  <% end %>
</body>
</html>
