<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? yield(:title) + ' - ' + t('global.scrinium') : t('global.scrinium') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div id="main-container" class="container">
    <%= render 'layouts/message' %>
    <%= render 'layouts/left_side' %>

    <%= yield %>
  </div>

</body>
</html>
