<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title><%= content_for?(:title) ? yield(:title) + ' - ' + t('global.scrinium') : t('global.scrinium') %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <header>
    <%= render 'layouts/navbar' %>
  </header>

  <div id="main-container" class="container">
    <%= render 'layouts/message' %>
    <%= render 'layouts/left_side' %>
    <%= render 'layouts/main_block' %>
  </div>

  <footer>
    <% if OrganizationsHelper.current_organization %>
      Copyright &copy 2015 <%= OrganizationsHelper.current_organization.name %> / <%= t('global.shustone') %>
    <% else %>
      Copyright &copy 2015 <%= t('global.shustone') %>
    <% end %>
  </footer>
</body>
</html>
