<!DOCTYPE html>
<html>

<head>
  <title>
    <%= t('scrinium') %>
  </title>
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <script type='text/javascript' charset='utf-8'>
    var ROOT_PATH = '<%= main_app.root_url %>';
    I18n = {}
    I18n.defaultLocale = '<%= I18n.default_locale %>';
    I18n.locale = '<%= I18n.locale %>';
  </script>

  <%= stylesheet_link_tag 'home_page', media: 'all', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
</head>

<body>
  <div class="page-wrapper">
    <!-- 导航栏 -->
    <header class="header-2">
      <div class="container">
        <div class="row">
          <div class="navbar col-sm-12 navbar-fixed-top" role="navigation">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle"></button>
              <a class="brand" href="<%= root_url(subdomain: false) %>">S<span style='font-size: 80%'>CRINIUM</span></a>
            </div>
            <div class="collapse navbar-collapse">
              <ul class="nav pull-right">
                <li>
                  <a href="#">特性</a>
                </li>
                <li>
                  <%= link_to '关于', about_path %>
                </li>
              </ul>
              <ul class="subnav">
                <li>
                  <a href="#">使用条款</a>
                </li>
                <li>
                  <a href="#">联系我们</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- 封面 -->
    <section class="header-2-sub bg-custom">
      <div class="background">
        &nbsp;
      </div>
      <div class="container">
        <div class="row">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="hero-unit">
              <h1>您的科研工作台</h1>
            </div>
            <% if current_user %>
              <a href='<%= user_path(current_user) %>'>
                <%= avatar(current_user, size: '80x80') %>
              </a>
              <% else %>
                <%= link_to '登录', new_user_session_path, class: 'btn btn-signin btn-wide', style: 'margin-right: 5px' %>
                <%= link_to '注册', new_user_registration_path, class: 'btn btn-signup btn-wide' %>
              <% end %>
          </div>
        </div>
      </div>
    </section>

    <%= yield %>

  </div>

  <!-- 页脚 -->
  <footer class="footer-1">
    <div class="container">
      <div class="row" style="text-align: center;">
        Copyright &copy 2015 北京漱石科技有限公司（筹）
        <br/> 京ICP备15062969号
      </div>
    </div>
  </footer>

  <%= javascript_include_tag 'home_page', 'data-turbolinks-track' => true %>
</body>

</html>
