<!DOCTYPE html>
<html>

<head>
  <title><%= t('scrinium') %></title>
  <meta name='apple-mobile-web-app-capable' content='yes' />
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no' />

  <%= stylesheet_link_tag 'slim_page', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'slim_page', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <div class="page-wrapper">
    <% if not flash.empty? %>
      <div class='container' style='margin-top: 44px;'>
        <%= render 'layouts/message' %>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>

</html>
