<% content_for :title, t('devise.views.change_password') %>

<% content_for :center_column do %>
  <div class='devise-form'>
  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>

    <div class="form-inputs">
      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>
      <%= f.input :current_password, required: true %>

      <%= f.input :password, autocomplete: "off", required: false %>
      <%= f.input :password_confirmation, required: false %>
    </div>

    <div class="form-actions">
      <%= f.button :submit, "更改密码" %>
    </div>
  <% end %>
  </div>
<% end %>