<% content_for :title, t('devise.views.change_password') %>
<!--可去掉-->
<% content_for :center_column do %>
  <div class='vertical-centered-window-block'>
    <div class='vertical-centered'>
      <div class='change-password-form'>
        <h4><%= t('devise.views.change_password') %></h4>
        <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
          <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
            <p>Currently waiting confirmation for:
              <%= resource.unconfirmed_email %></p>
          <% end %>
          <ul class='combined-inputs'>
            <li><%= f.input :current_password, label: false %></li>
            <li><%= f.input :password, label: false %></li>
            <li><%= f.input :password_confirmation, label: false %></li>
          </ul>
          <%= f.button :submit, t('action.submit'), class: 'btn btn-success btn-block' %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
